[2016-10-22 21:27] diegomura opened #3 "Add styles inheritance"
If an element does not have a style attribute set, it should use it's parents. If none of them has it, should use a default one

[2016-10-22 21:28] diegomura opened #4 "Add images support"
For ref: https://github.com/devongovett/pdfkit

[2016-10-22 21:28] diegomura opened #5 "Add SVG support"
For ref: https://github.com/devongovett/pdfkit

[2016-10-22 21:28] diegomura opened #6 "Add links support"
For ref: https://github.com/devongovett/pdfkit

[2016-10-22 21:29] diegomura opened #7 "Add fonts embedding support"
For ref: https://github.com/devongovett/pdfkit

[2016-10-22 21:29] diegomura opened #8 "Add bullets list support"
For ref: https://github.com/devongovett/pdfkit

[2016-10-22 21:46] diegomura opened #9 "Add meta-data to document"
For ref: [https://github.com/devongovett/pdfkit/blob/master/demo/test.coffee](https://github.com/devongovett/pdfkit/blob/master/demo/test.coffee)

[2016-10-22 22:37] #9 closed

[2016-10-23 05:14] diegomura opened #11 "Add watermark support"

[2016-10-23 05:29] diegomura opened #12 "Add paper size support"
The size property can be either an array specifying [width, height] in PDF points (72 per inch), or a string specifying a predefined size.

List of predefined sizes:
* A0-10
* B0-10
* C0-10

[2016-10-23 05:33] #4 closed

[2016-10-23 05:46] diegomura opened #15 "Add page layout support"
The layout property can be either portrait (the default) or landscape

[2016-10-23 05:48] diegomura commented on #12
The size property can be either an array specifying [width, height] in PDF points (72 per inch), or a string specifying a predefined size.

List of predefined sizes:
* A0-10
* B0-10
* C0-10

[2016-10-23 06:05] #12 closed

[2016-10-23 06:05] #15 closed

[2016-10-23 06:08] diegomura opened #17 "Add notes support"
note(x, y, width, height, contents, options)
textAnnotation(x, y, width, height, text, options)

[2016-10-23 06:09] diegomura opened #18 "Add highlight support"
highlight(x, y, width, height, options)

[2016-12-25 00:06] #8 closed

[2017-03-24 13:42] jbovenschen opened #24 "Some Ideas for this project."
As promised some write up about my personal idea's I wish to have within a pdf renderer within React.

First of all the idea to create pdf's with the declerative syntax of react sounds amazing, also composing a PDF of more composable Components.

# Ideas

1. Support react-dom and react-native
2. Using react-primitives (View and Text).
3. Support Flex Layout with Yoga
4. Get rid of pdfkit
5. Suppor

[2017-03-24 15:37] diegomura commented on #24
First of all, thanks for your great ideas!! Some of them were in the back of my head, but you summarise them in a very neat way. Other are very original.

*1- Support react-dom and react-native*
This is the only point where I don't see the whole picture. Can you explain a bit more?
We are going to develop components based on the primitives of point 2, which internally will put together the pdf doc

[2017-03-24 15:49] jbovenschen commented on #24
The thing about the **react-dom** and **react-native** bindings is just providing a `<Document />` component for both platforms, where you can provide your react-pdf components like `<Page />`, `<Text />` and `<View />`. And then it would save the file to or you're local system, pdf viewer or a download link. Not really to fancy stuff.

[2017-03-26 11:53] jbovenschen commented on #24
I'm currently working on a component which does what is on my mind, will share later 👍

[2017-03-27 00:44] diegomura commented on #24
I now understand that the different packages are for. Thanks for the explanation.
I agree with all your ideas! It would be great to see them working 😄

[2017-04-01 19:52] ferdinandsalis commented on #24
Just piggybacking this issue to also say that I am intrigued by the idea. I would be interested in contributing if my time allows it. Will be following the project closely. Bonne chance!

[2017-04-02 08:33] jbovenschen commented on #24
It's amazing that more people get attracted by the idea, of creating pdf's with basic react primitives, currently I'm just trying to get the internals working, will be working on this today and tomorrow. If I got the pdf output working appropriate there will be lots of opportunities to contribute to the project. Maybe It's an idea to make Github Project for it so we can work altogether to an initi

[2017-04-03 04:16] diegomura commented on #24
@jbovenschen done! I'm new using gh projects, but I guess it's like just any other tool. Feel free to add any issue to it and I can handle them, or ask me for anything I can to to make your work easier. Thanks again

[2017-04-03 08:15] jbovenschen commented on #24
In this branch I got the least applicable pdf file working, without using third party libs, pretty stoked about the results :) https://github.com/jbovenschen/react-pdf/tree/custom-layout.
There is a lot of room for future optimizations, but the first results are there.

[2017-04-03 12:06] jbovenschen commented on #24
Things I will do before merging this branch are:
- [ ] Add support for Document context
- [ ] Add support for Fonts
- [ ] Add support for Text

[2017-04-03 13:42] jbovenschen commented on #7
Currently working on this, and getting text to work again.

My ideas about this are;
[code]

Or doing it this way:
[code]

What do you like the most?

[2017-04-03 13:47] diegomura commented on #7
I prefer the second approach. What do you think?
Manly because is a styling thing. I'll keep the Component approach for things that will actually be rendered as meaningful piece of document

[2017-04-03 13:50] jbovenschen commented on #7
Yeah, I also prefer the second approach that one would make it easier to build a component library for this renderer. Also it's mainly meta data.

Will work on the second one!

[2017-05-01 09:43] jbovenschen opened #28 "Gain support for react-primitives"
The idea is to gain full compatibility with [react-primitives](https://github.com/lelandrichardson/react-primitives).

This will make it easier to render existing react-components within a pdf, things which would be made possible when supporting this will be:
- Export to PDF of a part of your app.
- Using react-router within PDF.
Guess I miss a lot of possibilities :).

Things we can support (as f

[2017-05-01 09:44] jbovenschen opened #29 "Gain compatibility with react-primitives-svg"
Gain compatibility with [react-primitives-svg](https://github.com/chengyin/react-primitives-svg).

[2017-05-01 09:46] jbovenschen commented on #3
This will not possible with our current approach, so I guess we could better close this issue?

[2017-05-01 09:46] jbovenschen commented on #5
Will close this issue in favor of #29 and #28.

[2017-05-01 09:46] #5 closed

[2017-05-02 12:39] diegomura commented on #28
Agreed!
I see very hard to implement `Animated`. I mean, I don't thing the render time would be that fast that an smooth animation can be perform in the document real time.

`Touchable` can be rendered as links in the document?

I love this primitives ideas, but we may be missing some PDF-specific features in the future, such as comments, highlights, etc.

[2017-05-02 12:42] diegomura commented on #3
🤔 . I see. I would like to have it open at lease until we have our first release running, is that ok?

[2017-05-03 00:54] diegomura opened #30 "Package name is already taken"
Unfortunately `react-pdf` is already taken on npm (https://github.com/nnarhinen/react-pdf) so we will have to come up with another name 😓 .

@jbovenschen what do you think?

[2017-05-03 05:47] jbovenschen commented on #28
Yeah, we could make it update the document in environments like web where there is a custom renderer... There is also not really a way to script inside a pdf document.

`Touchable` normally triggers an action inside the document, this also should need some pdf scripting magic.

There is some kind of javascript support within pdf, but it is version 1.5 which was added in Netscape Navigator.

We sho

[2017-05-03 05:51] jbovenschen commented on #30
We should come up with a different name, don't know any good ones atm.
Another solution would be to create scoped packages like `@react-pdf/core` and `react-pdf/dom`.

[2017-05-03 12:33] diegomura commented on #30
I like that. I mean, I dont want to come up with a different name than this one, it's pretty straightforward. On the other hand, I don't want to create confusion between other dependencies. I'll read about that and if the solution fits maybe I'll publish some dummy version just to save the names

[2017-05-05 14:02] jbovenschen opened #34 "Add react-pdf-native"
Make it possible to render pdf's inside react-native.
Same way as the react-pdf-dom package works.

[2017-05-19 09:21] rofrischmann commented on #30
Maybe just try to contact the owner and politely ask for the package name :P
I think it would be much better to call it react-pdf-viewer or sth. as it is a component just to view/display pdfs.

Another idea would be to call it sth. like react-pdf-renderer? or react-to-pdf.

(I once started an experiment as well using React to generate PDFs and came up with the name react-to-pdf, but your package i

[2017-05-19 09:38] jbovenschen commented on #30
The react-pdf package is something which is download pretty often so it would be really weird for their end users if the package would change to something totally different.

Because we have a mono-repo the org feature within npm is pretty suitable, also if we have the @react-pdf org on npm we have all the freedom to add new packages within the feature, and don't need to worry anymore about if a p

[2017-05-19 13:16] diegomura commented on #30
I think that's the way to go. I dont see another coherent alternative

[2017-05-19 17:47] thebetterjort opened #42 "Support forms"
Would like to be able to graba data from PDF forms.

[2017-05-19 17:49] diegomura commented on #42
Thanks @thebetterjort . This is definitely something we will like to tackle (if possible) in a near future

[2017-05-19 20:41] salzhrani opened #44 "Custom fonts"
Is it planned to add support for custom fonts? it is needed for stylistic reasons and to support non-latin languages.

[2017-05-19 20:44] jbovenschen commented on #44
Thanks @salzhrani Yes, this is something we plan to do in the short term.

[2017-05-19 21:52] diegomura commented on #44
That's right. We are on it. Thanks!

[2017-05-20 05:15] diegomura opened #47 "Add a consistent way of applying default props and styles"
We dont have yet a neat way of defining and appying what are the default props and styles to be applied to elements.

I imagine something like:
[code]

[2017-05-20 09:25] jbovenschen commented on #47
I'm ok with implementing something like this, but is there any need to name it defaultProps? It could be just named props right?

Also how do you think we can preserve the changed props within the PDFEntry instance?

[2017-05-20 11:07] jbovenschen commented on #44
This is a proposal for the font API, what do you think @diegomura;

[code]

The main reason I put it as an property on the Document is that it is scoped per document.
So it wouldn't collide on module level when making multiple pdf's on a single web page.

[2017-05-20 14:12] jbovenschen commented on #47
Did implement it for only the props at this moment. I think it would be a good idea to split up the styling related properties (created with `Stylesheet.create`) and the other properties. What do you think?

[2017-05-20 17:09] diegomura commented on #44
I don't know... I think we can hide that complexity to the user, and infer fonts from text styles directly.

So the `Text` element should call something like `document.getOrCreateFont('Helvetica')`, and the document should dynamically load it and save it, or retrieve it if it's already there.

That should save us predefining which fonts the document will use beforehand.

[2017-05-20 17:13] jbovenschen commented on #44
I think we can't hide that complexity for the user completely because we don't know the sources of every able font. PDF does only support a small subset of font's out of the box, so we need something where users can define sources for different fonts.

[2017-05-20 20:19] diegomura commented on #44
Oh I see. You're right

Shouldn't be something like this then?
[code]

[2017-05-20 20:37] jbovenschen commented on #44
We have two choices, use the postscript name and styles with are defined inside the font file, which is same as pdfkit treat custom font files.

Or make a web equivalent API where we define al the needed properties for the font file, like `family`, `weight`, `style` and others.

Don't have a really strong opinion about this one, what do you like the most @diegomura

[2017-05-20 21:06] diegomura commented on #44
Don't have a strong opinion either. You can go with the option that most suits you.

However, what about something like:

[code]

Would that be too much disruptive? I would like fonts to be the more pluggable as possible, and defining that 'fonts` prop it's kind against that.

[2017-05-21 05:33] diegomura commented on #7
Closing this because of #44

[2017-05-21 05:33] #7 closed

[2017-05-21 05:34] diegomura opened #53 "Add Image support"
We should be able to add '.jpg' and '.png' images to the pdf document

[2017-05-21 05:36] diegomura opened #54 "Rendering process should support async operations"
This will be needed for #53, and maybe more future features. async/await will be handy for this process

[2017-05-21 05:38] diegomura opened #55 "Add metadata to the pdf document"
This includes author, title and any other possible attribute. It should also include that the document was made with react-pdf

[2017-05-21 05:42] diegomura opened #56 "Add tests for most common use cases"
This is a technical debt that we have. We should have all components tested befrore our first release candidate. In the future, a new feature without tests will not be merged

[2017-05-21 05:43] diegomura opened #57 "Yoga does not compile in Linux"

[2017-05-21 05:47] diegomura opened #58 "React-pdf landing page"
We will need a landing page to promote the library.

I imagined it can have something like a repl, similar how babel does, where you can type code and see the rendered document on the right. Maybe react-playground can be used for that.

Design ideas and contributions will come very handy.

[2017-05-21 05:51] diegomura opened #59 "Logo ideas"
It would be very cool to have people suggesting logos and vote to choose one. So, if someone wants to suggest and design a logo, please feel free to do it!

[2017-05-21 05:53] diegomura opened #60 "Improve documentation"
We will need to document the pdf components and the different libraries, both for the README and for the future site

[2017-05-21 05:53] diegomura opened #61 "Fix TravisCI integration"

[2017-05-21 06:00] diegomura opened #62 "Improve examples usage"
We currently have a '@react-pdf/examples' private package that run examples.

We should be able to run all examples for every platform (node/dom/native) in a neat way. My suggestion would be by running something like this:

`yarn example -- <example-name> <platform-name>`

Ex.
`yarn example -- fractals dom`
`yarn example -- fractals node`

If no platform name is specified, it should be node.

The

[2017-05-21 06:02] diegomura opened #63 "Add callback on Document and node mounter"
The callback should be called after the rendering process finishes.

[2017-05-21 06:05] diegomura opened #64 "Support document updates"
This will be useful on the dom and native environments. Maybe we can benefit from PDF incremental updates for this.

[2017-05-21 06:12] jbovenschen commented on #57
Emcscripten which is used to compile yoga-layout can not be used on Linux, this because of that it compile CLang from it's sources.

Check [this](https://github.com/facebook/yoga/blob/master/.travis.yml#L53-L61) for more info.

[2017-05-21 06:17] jbovenschen commented on #61
This is caused by #61.

[2017-05-21 06:23] jbovenschen commented on #60
This seems to be a good fit if we want live editing of examples within the documentation. https://github.com/FormidableLabs/component-playground

[2017-05-21 06:37] diegomura commented on #60
Yes, but the proper landing implementariom will be discussed in #58.

This ticket is about content (listing components, available props, styling), not about implementation

[2017-05-21 07:07] jbovenschen commented on #44
Was also thinking about this last night, what if we make something which matches more the web-api.

We could create a separate API for registering fonts.
[code]

Else it is pretty hard to guess the postscript name in some cases.

[2017-05-21 07:13] diegomura commented on #44
Love this idea!
I think is the way to go. This will keep the `<Document>` props clean as I want them to be.
Good work!

[2017-05-21 09:09] jbovenschen commented on #57
Yoga does work with the new release without needing a build step, but this will be triggered by scripts inside the package.json, does not know if we could ignore them for a single package? @diegomura you have any idea?

[2017-05-21 13:14] chipatama opened #68 "SyntaxError: Unexpected token import"
I tested examples and it works great, but when I tried to load it into my project I got 'SyntaxError: Unexpected token import', I believe that's because the lib is not compiled into es5?

I'm using react-create-app, and everything is written in es6 and works fine, just not sure what's the proper way to handle this? Thanks!

[2017-05-21 14:09] jbovenschen commented on #68
Thank you for playing around with it.

Indeed the published version is without the transpiled sources, we only published it already to claim the @react-pdf org on npm. If @diegomura thinks it is ok, I will publish a new version.

[2017-05-21 15:00] #55 closed

[2017-05-21 15:11] chipatama commented on #68
@jbovenschen Sounds good! Thanks!

[2017-05-21 16:31] diegomura commented on #68
@jbovenschen Sure!

[2017-05-21 16:34] diegomura commented on #30
Closing this. We already have those names

[2017-05-21 16:34] #30 closed

[2017-05-21 19:12] jbovenschen commented on #68
@chipatama I just pushed version 0.1.5 to version can you try it again?

[2017-05-21 21:06] MegaApuTurkUltra opened #70 "LaTeX except more webscale?"
If PDFs are static, I don't see why we need to introduce React and JSX. Can someone explain the premise of this project, and why someone might want to choose it over a more popular system such as (PDF)LaTeX?

[2017-05-21 21:54] diegomura commented on #70
Not sure if I can summarize the premise of this library in a concise way, in part because this project it's just starting and we are just discovering the possibilities of what react-pdf can and cannot do.  I never used LaTeX before, but if I have to enumerate some benefits I see with this approach, would be:

- Write pdf documents in a declarative way: One of the strengths of React is that is decl

[2017-05-21 22:01] liam4 commented on #70
Somebody mentioned that this might be useful for automatic localization. That's interesting to think about!

[2017-05-21 22:03] diegomura commented on #70
Can you expand a bit more on that idea @liam4 ?? Sounds interesting

[2017-05-21 22:31] liam4 commented on #70
Many websites that have support for multiple languages can be automatically translated by using "language files" that contain human-readable language for each string displayed on the page, localized to whatever language the user of the site selects.

For example:

[code]

`lang` is the contents of a language JSON file (as an object). For example, let's compare the output when `lang` is the content

[2017-05-21 23:23] devongovett commented on #24
Hey guys, cool project! I'm the author of pdfkit and fontkit, and as such I have a lot of experience dealing with the PDF format and various file formats that come with it (e.g. fonts, image formats, etc.). Not just because I'm the author, I would highly recommend building this project on top of pdfkit, as opposed to reinventing it. It deals with a TON of stuff that you don't know yet that you'll

[2017-05-21 23:48] diegomura commented on #24
Hi @devongovett !
First of all, thanks for reaching us. `pdfkit` is an awesome library. I've used it in the past many times. So congratulations about that and thanks for your work 😄

You clearly have a point on this. Actually, `react-pdf` used `pdfkit` when it first started. Implementing our own pdf bindings had give us a lot of flexibility so far, but it's also true that we will have to deal with

[2017-05-22 02:07] MegaApuTurkUltra commented on #70
Thanks for explaining the premise. Could you maybe touch upon my other question, why someone might want to choose this over (PDF)LaTeX?

[2017-05-22 02:19] diegomura commented on #70
I think any of the points I listed can be a valid answer for that question, don't you think?
I don't know how easy would be achieving any of those with (PDF)LaTeX.
Of course, you're always free to use the tool that suits you best for your specific scenario 😄

[2017-05-22 05:51] jbovenschen commented on #24
@devongovett Thanks for reaching out to us.

First of all thank you for creating `pdfkit` and `fontkit`, it made it always more pleasant to create PDF files within a web environment.

First of all we will use `fonkit` to do the text measurements and font embedding, it's stuff you won't rewrite yourself, also at the beginning like @diegomura this library did use `pdfkit` as the rendering layer and

[2017-05-22 05:55] jbovenschen commented on #70
@liam4 this is something that came to mind when I was thinking about this project. You could just use the same libraries to do localization that you were used to inside your main react application.

Did you also think of how awesome it would be when you could the same redux store inside your pdf as you use within the rest of your react-dom or react-native application.

Want to point you to issue #

[2017-05-22 06:31] devongovett commented on #24
@jbovenschen

I can see your point about updates to an existing document, and this is kinda hard to do with the current streaming model. It's a tradeoff though: either you keep everything in memory so updates are possible, or you use the streaming model as PDFKit does. PDFKit used to keep everything in memory, but I found I'd hit the Node heap limit on large documents with lots of images fairly qu

[2017-05-22 07:09] jbovenschen commented on #24
Thanks for your constructive answer.

We also were thinking about using Incremental PDF updates, so hopefully PDF readers does support that feature, if this can be solved within `pdfkit` I will be happy to use pdfkit again, because writing everything from the ground up ourselves will cause a lot of extra work. And if we do so we will be improving another ecosystem around `pdfkit`.

@diegomura do y

[2017-05-22 07:47] Kaishley opened #72 "Error: Failed to compile"
Hi,

I am getting the following error when trying the example in the README.

[code]

I am not sure if that makes a difference, but the folder is named 'Stylesheet', while in the import path it is 'stylesheet'.

For reference, I am using the versions published on npm.

[2017-05-22 07:57] jbovenschen commented on #72
Thanks for reaching out.

I guess you're trying the dom-bindings example, just made a PR for it #73.

Can you try that one out?

[2017-05-22 08:01] Kaishley commented on #72
Thanks for your reply.

I am trying the example in the README itself.
[https://github.com/diegomura/react-pdf/blob/master/README.md#how-it-works](url)

I did install all 3 packages v0.1.6.

[2017-05-22 08:05] jbovenschen commented on #72
I see, a little bit curious which bundler did you use?

[2017-05-22 08:07] Kaishley commented on #72
The default React one.

[2017-05-22 11:35] liam4 opened #75 "Cannot find module 'lodash/fp/toPairsIn'"
My setup:

[code]

Adding `lodash` via `yarn add lodash` fixes the issue. (Am I supposed to do `yarn add react-pdf`, not `yarn add @react-pdf/core`..?)

[2017-05-22 12:09] jbovenschen commented on #75
It seems that lodash is missing in the @react-pdf/core package, do you mind to make a PR for that?

[2017-05-22 12:47] #63 closed

[2017-05-22 13:15] donni106 opened #76 "External dependencies will not install"
**What is the current behavior?**
I  installed yarn for the first time per brew on mac. When trying to yarn install this project it seems to freeze on installing external dependencies. Nothing is happening for a long time:
![bildschirmfoto 2017-05-22 um 14 21 26](https://cloud.githubusercontent.com/assets/1942953/26308591/2b2e0606-3efa-11e7-873c-380de32bbcee.png)

**What is the expected behavior?*

[2017-05-22 13:24] diegomura commented on #24
@devongovett @jbovenschen really enjoy reading this discussion. Thanks for explaining these points in detail.

As I said, it's certainly true that `pdfkit` already sorted lots of complex pdf related issues that we face now and will face in the future. Making documents render and **update** as fast as possible is something we should aim for, but it's not something we are dealing now. It will probab

[2017-05-22 13:48] donni106 commented on #76
There is a comment in the issue at yarn directly: https://github.com/yarnpkg/yarn/issues/3471

[2017-05-22 13:52] jbovenschen commented on #76
Thank you for the detailed description.

This is an issue we also facing within travis, will take a look this week.

[2017-05-22 14:01] donni106 commented on #76
Thank you. Maybe this can help a bit https://github.com/lerna/lerna/issues/789?

[2017-05-22 17:13] devongovett commented on #24
Yeah when you create the document, you can pass in metadata:

[code]

[2017-05-22 21:10] #72 closed

[2017-05-22 21:30] #54 closed

[2017-05-22 21:45] diegomura commented on #75
Just adding `lodash.toPairsIn`should be enough. Also, why are we using this method from the functional programming package? I suggest sticking with the regular `toPairsIn` lodash method.

@liam4 do you want to do it or shall I take this issue?

[2017-05-22 21:45] diegomura opened #79 "Migrating back to pdfkit"
As discussed in #24, we will implement `react-pdf` to use `pdfkit` as a pdf rendering tool.
Because we aim to do things that this library doesn't support, maybe this change is just to release a v1 as soon as possible, and then see what's best.

[2017-05-22 21:58] liam4 commented on #75
@diegomura I'd appreciate it if you did; for whatever reason whenever I run `yarn` it messes with the dependency list a bit (though react-pdf works as it should), so that kind of makes making a PR that modified yarn.lock/package.json difficult..

[2017-05-22 22:00] jbovenschen commented on #70
Guess we can close this issue for now, because @diegomura did answer our goals for this project perfect. Still we hope that people use what they love to use.

[2017-05-22 22:00] #70 closed

[2017-05-22 22:51] diegomura commented on #75
Thats weird. But no problem, I'll fix this issue asap

[2017-05-23 02:22] #76 closed

[2017-05-23 13:50] #68 closed

[2017-05-23 15:48] diegomura commented on #24
@devongovett currently having some trouble in the migration. I created https://github.com/devongovett/pdfkit/issues/666 for that 😄

[2017-05-24 03:42] cherta commented on #58
A playground can be great!

I just attended a conference talk about how to write great documentation and I think we can use that resource (I still need to get the slides) to improve the experience of people onboarding the site and really understanding the library.

UI will be hard for us but I think I can ping Marcelo Brum a friend of mine to help us with that, he is the guy who did the React and

[2017-05-24 06:28] jbovenschen commented on #58
Thanks for reaching out.

About the documentation it would be great if we have some pointers about how we can write at best. Do you already have some ideas about the structure? We can copy a lot from other react-renderers about the `Stylesheet`, `View`, `Text` and `Image` API's we would still have to describe the PDF specific stuff.

About UI it would be great if we got a real designer which could

[2017-05-24 12:31] diegomura commented on #58
Thanks @cherta !!
We ~can~ should definitely use what you learned about docuentation! And if you can reach Marcelo, that would also be great, I love those stickers 😂

I'm having some issues with the renderer, so all my energy is on solving that, but it's great seeing this moving forward. The playground is a must-have. I'll be really cool to see the docuement changing while you type react code

[2017-05-24 14:51] cherta commented on #58
Here's [the relevant part of the presentation](http://slides.com/gabrielkonkle/docsforhumans#/73), I think we can use this guide to writing a complete documentation.

[2017-05-24 15:08] cherta commented on #58
Hey @MarceBrum said he can help us with the landing page UI

[2017-05-24 15:23] MarceBrum commented on #58
Hello guys, I'm really very excited to jump on board and give you a hand on from a design POV. Thanks @cherta for inviting me in!
Im a bit bussy right now, but will show up later, promise   ;)

[2017-05-24 15:29] diegomura commented on #58
Thanks @MarceBrum !! That's exactly what we need. I'm very excited about this

[2017-05-24 18:25] #75 closed

[2017-05-24 18:37] elpic commented on #59
![logo](https://cloud.githubusercontent.com/assets/138424/26419650/cd6d7292-4096-11e7-81e6-74591cb59660.png)

[2017-05-25 10:08] steric85 commented on #62
I am new to React. I wanted to try your example, but running the above command gives error. Can you please tell me how to do so?

[2017-05-25 10:16] MarceBrum commented on #58
Hi everyone, I was about to ask what this is all about.. but it was gonna be too general, so here I share a couple of quick questions that will help me get involved in the project:

1 - What are you guys trying to build here (I mean your pdf Idea)?
2 - Could you share some landing pages links as reference? If possible tell me what you like the most on each example.
3 - Could you make a really simp

[2017-05-25 12:05] shravya95 opened #83 "How to run examples"
Hey i have cloned your repo locally..can u plz help me in running the examples..because the example mention **yarn example -- fractals** doesn't seem to work.And the sub-folders have their own package.json do we have to install them explicitly?
Thanks.

[2017-05-25 12:33] diegomura commented on #83
Hi @shravya95 !
You don't have to install each package separately.

Try running `yarn install` in the root of the project, and then run the test. That should work.

The project has a `postinstall` script that runs `lerna bootstrap`. What that command does is installing each package dependencies, and linking them together.

[2017-05-25 13:00] steric85 commented on #83
Hey @diegomura ,
I tried running `yarn install` in the root of the project. I am getting the following error:

`yarn install v0.24.6`
`[1/4] 🔍  Resolving packages... `
`[2/4] 🚚  Fetching packages... `
`[3/4] 🔗  Linking dependencies...`
`[4/4] 📃  Building fresh packages...`
`$ lerna bootstrap`
`Lerna v2.0.0-rc.3`
`This is not a git repository, did you already run git init or lerna init ?`
`error Co

[2017-05-25 13:06] diegomura commented on #83
Are you sure you are running `yarn install` in the root of the project? That's odd...
Can you give me more info of your environment? such as node version, OS, etc

[2017-05-25 13:12] steric85 commented on #83
Yes, I am running the command in the root folder.

Environment Information:
node version : 6.10.3
npm version : 4.2.0
OS : macOS Sierra (10.12.5)
What other details are required?

[2017-05-25 14:13] diegomura commented on #83
It seems that or you have an issue with your git installation, or somehow your clone version of the project it's not a git repository.

Fails here: https://github.com/lerna/lerna/blob/36a6501fcd5856e8b6291b71fa251c53aa939a33/src/Command.js#L182

Check if the `.git` folder is in the repo, or check your git installation.

[2017-05-25 14:28] steric85 commented on #83
Thanks a lot! 😄
I had downloaded instead of cloning the repository.
I tried `yarn install` and `yarn example -- fractals` after cloning the repository. The code is running successfully without any errors!

[2017-05-26 08:31] jbovenschen commented on #58
**1 - What are you guys trying to build here (I mean your pdf Idea)?**

The main goal of this project is:
Creating PDF files using the things your used to when developing React applications. The benefits over other PDF generators are.

* Using flex-box inside PDF's
* Using a structured component approach inside PDF's
* Render PDF files everywhere.

**2 - Could you share some landing pages links as

[2017-05-27 14:26] MarceBrum commented on #58
Hi guys, really loved the firts example, "lost my name design system"... very polished... I also agree that It would bee great to have te ability of editing code, like in the second one, and see what happens right away... that'd be very cool.
The best aproach on this is for you guys to define a "brand name". That way I can come up with a logo, color scheme and typography palette to be used on the

[2017-05-27 15:54] diegomura commented on #58
Hi @MarceBrum !
I agree with most of what @jbovenschen said above.
I would just add:

**3 - Could you make a really simple list of "must have" things on this page? Give the elements a hierarchy if possible.**
-  I think we should make use of what @cherta shared above about effective documentation. I read the slides, and the order of concerns that this proposes makes a god damn sense.
- I though th

[2017-05-28 14:19] MarceBrum commented on #58
Hi @diegomura, by brand name I mean, if you have an specific name, you'd like to give your project, it could be something elaborated, or you could simply go with "React-pdf", or "React to pdf". I need yo know that, so I can come up with a logo for it  😬

[2017-05-28 21:04] diegomura commented on #58
I think the name itself `react-pdf` works. `React to pdf` would be a bit misleading because it gives you the idea that you're transforming something _into_ a pdf. While we just create it.
I like the `React renderer for creating PDF files on the browser, mobile and server` phrase that it's on the README. You can use it as a motto or something if you feel that only `react-pdf` is too little

[2017-05-28 23:02] MarceBrum commented on #58
Cool! I'm a bit busy lately, but will start making some drafts as soon as I get some spare time 😎

[2017-05-30 13:26] knowbody opened #84 "Generate PDF on the fly"
Thanks for a great library I was playing around with something similar recently.

This is what I am trying to solve currently and wondering if it is/will be possible with react-pdf:
I need to be able to generate loads of different PDFs in our platform and would love to do that fully on the frontend. The user clicks `download` button which allows him to download a generated PDF by something like `r

[2017-05-30 13:42] diegomura commented on #84
Hi @knowbody !
This is something that will definitely be possible with react-pdf, specially since we are using pdfkit above, which has this function already built-in inside.
Unfortunately, it is not possible _yet_. @jbovenschen is working on making the pdfkit bundle easier to use in the browser, while I'm making progress with the primitives itself. After that, these other features will be supporte

[2017-05-30 13:47] knowbody commented on #84
@diegomura thanks for the update! Any ETA on it? Also I might be able to spare a few evenings and help out.

[2017-05-30 14:02] diegomura commented on #84
hard to tell honestly. not less than 2 months, but also depends on how much help we can get and of course, our free time 😄 . we need to figure out those pdfkit issues, and also we are having some (partially solved) trouble with yoga and flexbox. imagery is also partially done, but we still need support for a bunch of other css properties such as fonts, tranforms, weights, color, etc.

contribution

[2017-05-30 15:41] jbovenschen commented on #84
Currently my main target is to make `pdfkit` usefull for our usecase think it will take some time before it is integrated perfectly to have the best DX on our side.

@knowbody If you need it soon I can give you some pointers how I did solve this before with pdfmake if your interested?

[2017-05-31 19:47] #79 closed

[2017-06-01 07:13] jbovenschen commented on #83
Great, thanks for your explanation.
Will close this issue for now.

[2017-06-01 07:13] #83 closed

[2017-06-03 19:13] #53 closed

[2017-06-04 22:51] diegomura opened #89 "Layout use cases"
Since we are currently having issues about how Yoga is calculating the layout of text and images, I want list here some basic use cases that **must** work before releasing:

- [x] 1 - [Just Text ](https://codepen.io/diegomura/pen/vZEYMz?editors=1000)
- [x] 2 - [Just Images ](https://codepen.io/diegomura/pen/gRbOJq?editors=1000)
- [x] 3 - [Text within FlexDirection: column](https://codepen.io/diego

[2017-06-09 10:29] simonbengtsson opened #94 "Third party plugins"
Interesting project for sure! Are there any plans on supporting third party plugins? I have previously created a table plugin for jspdf [jspdf-autotable](https://github.com/simonbengtsson/jsPDF-AutoTable) and was wondering if this is something that will be possible in `react-pdf`.

Oh and btw, any plans on supporting tables natively?

[2017-06-09 10:46] jbovenschen commented on #94
Thank you!

Cool project jspdf-autotable.

This is an idea we played around with, but won't be available until the 1.0 version of react-pdf is released. Also this would mean that we should make some changes to `pdfkit` which we use internally for the 1.0 release.

The main focus for now is to just support the primitives which are available in other react renderers like `react-native` and `react-sk

[2017-06-09 21:38] simonbengtsson commented on #94
Fair enough! Sounds like reasonable prioritization. Big fan of your effort to decaffeinate pdfkit btw 🎉  Let me know if you want any assistance there.

[2017-06-12 06:42] fufjvnvnf commented on #94
Agreed. I love this project. Would customized components be supported in the future? I am looking for a way to export airbnb superset's dashboards to pdf!

[2017-06-12 07:02] jbovenschen commented on #94
@fufjvnvnf would be really cool to see this project being used at the airbnb superset dashboards.

What do you mean with customized components. Text, View and SVG's will be supported within our initial release. What kind of other features do you think you will need to make full advantage of the PDF rendering.

Extensions will mean that you can make things like Video, Security (Passwords) and other

[2017-06-12 07:05] fufjvnvnf commented on #94
@jbovenschen I'm a complete noob on front-end so I might've said something stupid. I was wondering if custom classes that extend React.component would be supported, i.e. if I create a pdf using your library that contains such components, will them be correctly displayed? Thank you!

[2017-06-12 07:11] jbovenschen commented on #94
@fufjvnvnf Sure it will be supported it's just a renderer target for how react works, so you can do anything what you're used to do within your react components.

Also we make full advantage of yoga (also used in react-native and react-sketchapp in the future), so you can style your components as follows;

[code]

Hope this answers your question?

[2017-06-12 07:13] fufjvnvnf commented on #94
@jbovenschen Hah I see! Then this is exactly what I'm looking for! Thank you very much and I will try it on my project now!

[2017-06-12 07:15] jbovenschen commented on #94
@fufjvnvnf Like mentioned in the readme, it is stated that this project is not ready for production usage, but I'm happy that you want to try it already. The last changes within the layout calculations are not published yet. If you hit any constraints let us know.

[2017-06-12 08:18] fufjvnvnf commented on #94
How exactly do you import this library? Do you do "npm install" or drag the folder to "node-modules" folder?

[2017-06-12 09:53] fufjvnvnf commented on #94
I notice this package uses yarn for install. My project however uses npm. After I installed your package, whenever I install other packages using npm, npm automatically deletes the content of your package. How should I resolve the incompatibility between the two package managers?

[2017-06-12 11:09] jbovenschen commented on #94
I guess you want to run the package directly in the browser with the `@react-pdf/dom` package.
This is not really good supported at this moment, because of the way `pdfkit` is bundled.
This is something I currently work on to support with changes in `pdfkit`, this is for now not really viable.

[2017-06-13 03:42] diegomura commented on #56
![specimage](https://user-images.githubusercontent.com/5600341/27065042-31afea66-4fd1-11e7-9e7f-6f192bb351f6.jpg)

[2017-06-21 12:58] phillipCouto opened #95 "fontSize changes result in empty space around lines"
I am testing out react-pdf as an alternative to our current approach and so far it is very interesting. I really like the concept to use react to define the pdf versus individual render calls.

To the point when I try to create lines of text in a PDF changing the fontSize style is resulting in whitespace about and below the text. It almost seems that the logic to compute the size of the element st

[2017-06-21 14:30] diegomura commented on #95
Thanks for reporting this @phillipCouto !
I think I'll have some time today to test this. It may be related with what you said

[2017-06-22 01:44] diegomura commented on #95
I think this is happening because the npm package is not updated. So sorry about that 😄 . Look how this gets rendered with the updated codebase:

[example.pdf](https://github.com/diegomura/react-pdf/files/1093380/example.pdf)

I'll publish a new version to npm so you can test it.
I'm very excited about you wanting to use react-pdf in your project, but please remember this is not production-ready.

[2017-06-22 02:33] diegomura commented on #61
Travis is working fine now. I'm closing this

[2017-06-22 02:33] #61 closed

[2017-06-22 02:34] diegomura commented on #57
@jbovenschen is this still a problem? How this can impact us?

[2017-06-22 02:38] diegomura commented on #56
Some progress was made in https://github.com/diegomura/react-pdf/pull/90 and other PRs.
Does not make sense to keep this issue opened. Specs should be added as part of future PRs

[2017-06-22 02:38] #56 closed

[2017-06-22 02:51] diegomura commented on #95
I released `v0.2.0`. Please update to it and try running your example again.

[2017-06-22 04:45] diegomura commented on #59
This is just a sketch I did today

<img width="358" alt="screen shot 2017-06-22 at 1 24 50 am" src="https://user-images.githubusercontent.com/5600341/27417650-57bcc6ee-56ec-11e7-926e-a84be7791f19.png">

[2017-06-22 04:47] diegomura commented on #59
Here it is with some fancier gradient. Not sure if those are the correct colors though

![logo proposal 1](https://user-images.githubusercontent.com/5600341/27417661-6ecbf4fe-56ec-11e7-8b73-84c6b8c46ebd.png)

[2017-06-22 11:19] AggarwalAnkit commented on #75
@diegomura could you please help me with this error

../~/@react-pdf/core/lib/elements/Text.js
Module not found: Can't resolve 'lodash.isnan' in '/node_modules/@react-pdf/core/lib/elements'

I created a react app using creat-react-app and added following:
yarn add @react-pdf/core
yarn add @react-pdf/node.

After that, I copy pasted the sample code given on git (https://github.com/diegomura/react-p

[2017-06-22 12:09] phillipCouto commented on #95
Thank you @diegomura that did fix it. I understand react-pdf is very green right now and I was just looking at it from a potential project to migrate to once it is in a state of stability. =)

[2017-06-22 12:09] #95 closed

[2017-06-22 12:21] diegomura commented on #75
HI @AggarwalAnkit ! Can you create a new issue for this? I see why you wrote it here, but it's something unrelated.

[2017-06-22 18:36] AggarwalAnkit commented on #75
yeah sure.

[2017-06-22 18:38] AggarwalAnkit opened #97 "Isssue with missing dependency 'lodash.isnan' in '/node_modules/@react-pdf/core/lib/elements'"
Hey guys, could you please help me with this error

../~/@react-pdf/core/lib/elements/Text.js
Module not found: Can't resolve 'lodash.isnan' in '/node_modules/@react-pdf/core/lib/elements'

I created a react app using creat-react-app and added following:
`yarn add @react-pdf/core`
`yarn add @react-pdf/node`

After that, I copy pasted the sample code given on git (https://github.com/diegomura/react

[2017-06-22 22:27] diegomura commented on #97
you shouldn't. let me take a look

[2017-06-23 04:48] diegomura commented on #59
New idea from @nachoaIvarez, implemented by me. Inspired in origami shapes.

![logo 4](https://user-images.githubusercontent.com/5600341/27467084-c8850a3e-57b5-11e7-9e1f-f164274b911d.png)

[2017-06-23 04:48] diegomura commented on #59
An alternative of the previous one

![logo 5](https://user-images.githubusercontent.com/5600341/27467113-0b9f06a8-57b6-11e7-9acb-df48e76b7c84.png)

[2017-06-23 21:09] diegomura commented on #59
Based on some opinions I asked for, I'm going to go for the first one I shared. This other _origami_ design seems kind of incomplete to me. I can always iterate through this in the future

[2017-06-23 21:10] #59 closed

[2017-06-23 21:46] diegomura commented on #97
Fixed in `v0.2.2`.
Sorry about all that logs.
Also, please consider using something else than `create-react-app` to test `@react-pdf/node`. I uploaded [this gist](https://gist.github.com/diegomura/eccbf3dd4c277e0b73547e581eb0ab3e) where I show how simply you can build a test project for this.

Thanks!

[2017-06-23 21:46] #97 closed

[2017-06-23 21:49] diegomura commented on #62
@steric85 the above commends were just a proposal.
To run the examples, you can either clone this repo, do a `yarn install` and then `yarn example -- <example-name>.

Also, you can create a small project and run your examples there. I uploaded a [gist](https://gist.github.com/diegomura/eccbf3dd4c277e0b73547e581eb0ab3e) where I put all files needed to have this working. You will need to have `babel

[2017-06-23 22:25] diegomura opened #99 "Support StyleSheet ReactNative API"
For reference: https://facebook.github.io/react-native/docs/stylesheet.html

[2017-06-23 22:25] #89 closed

[2017-06-24 04:52] diegomura commented on #59
![logo](https://user-images.githubusercontent.com/5600341/27505816-c8bc37aa-587f-11e7-9a86-08a2d081a8b9.png)

[2017-06-24 10:40] hyperborea opened #101 "can't get DOM bindings to work"
I tried to make the package work in the browser, but ran into a bunch of issues along the way:
- the official example uses an outdated version of `@react-pdf/dom (0.1.6)` referencing the wrong core package (`react-pdf` instead of `@react-pdf/core`)
- browser environments don't provide fs, tls and net. create-react-app conveniently mocks them out, but I figured to still mention it for people using

[2017-06-24 12:05] hyperborea commented on #101
Adding babel-polyfill to `@react-pdf/core` adds support for async generators, but then the problems continue:
<img width="709" alt="screen shot 2017-06-24 at 13 59 13" src="https://user-images.githubusercontent.com/5477116/27508465-ba7202a4-58e5-11e7-97fd-513df07d22f2.png">

If anyone could provide me with a working example that would be great.

[2017-06-24 18:53] diegomura commented on #101
Hi @hyperborea .
Thanks for reporting all these issues.

We are still working on supporting react-pdf to the dom. A while ago we switch from using our own pdf bindings to use `pdfkit`. I'm not into this subject so much (@jbovenschen is, maybe he can give more info about it), but `pdfkit` has some issues working in the browser with webpack. @jbovenschen is on it, but I'm not sure if he had some pro

[2017-06-25 08:54] AggarwalAnkit commented on #97
Thank you very much @diegomura . I am new to react, so couldn't fix it on my own :)

[2017-06-25 17:05] hyperborea commented on #101
Thanks @diegomura, I'm having high hopes for this project and look forward to see how it develops. Fingers crossed that browser support is coming back soon, I'd ideally like to use it in both environments in parallel.

PS: adding babel-polyfill is probably overkill, best check out the last point under "Troubleshooting" here: https://www.npmjs.com/package/babel-watch.

[2017-06-25 19:50] jbovenschen commented on #101
@hyperborea After we switched to using `pdfkit` it started to not work for us anymore. Because the main build of `pdfkit` depends on node internals for it to behave correctly, this can be solved by bundling them using `webpack` or `browserify`. But that would make our library huge.

Some weeks ago I started to work on doing the things we need to do to make `pdfkit` easy to use for our end users. B

[2017-06-25 19:51] jbovenschen commented on #99
This would be awesome for interoperability with the react-primitives project.

[2017-06-25 19:55] jbovenschen commented on #57
This is still an issue, and can be solved in two ways.

Main issue is that yoga-layout depends on emscripten which dependencies are not correctly installed on every OS or PC.

- `Yoga-layout` provides a precompiled version of the library
- We make a bundled release of `react-pdf` with an compiled version of `yoga-layout`

Sort of something I would like to do, providing a flat bundle like react is

[2017-06-27 23:42] #99 closed

[2017-06-27 23:43] diegomura commented on #28
Now that we have full support of the `Stylesheet` API, each react primitive is supported, so I'm closing this.

[2017-06-27 23:43] #28 closed

[2017-06-27 23:45] diegomura opened #104 "Embed Links inside Text"
Text rendering phase should support many children, and not just a text string as it is right now

[2017-06-27 23:49] diegomura opened #105 "Underline Links by default"

[2017-06-28 08:25] buesing opened #106 "Can't get examples to run"
Hi, I'm having trouble getting the examples to run. I cloned the repo with
`git clone https://github.com/diegomura/react-pdf.git`, then
`cd react-pdf`
`yarn install`
[code]
Although the file `./examples/index.js` is actually there. Then I tried running babel-node directly:
[code]
I tried installing the react package in the root dir with yarn add react, then I'm getting this error, after which I'm

[2017-06-28 12:25] diegomura commented on #106
Hi @buesing.
Does `yarn install` run `lerna bootrstap` when you executed? This might be the cause of the missing modules errors.

[2017-06-28 12:40] buesing commented on #106
It does. Here's the complete output of `yarn install`:

[code]

[2017-06-29 02:21] #6 closed

[2017-06-29 05:03] diegomura opened #110 "Run all examples in precommit"
Would be nice to always have the examples up-to-date with the codebase.

We can add something like `yarn example -- all` and call it in the precommit or prepush hooks

[2017-06-29 12:19] #104 closed

[2017-06-29 14:16] #105 closed

[2017-06-29 14:18] diegomura opened #111 "Provide a default protocol for links (if not given)"
Probably `http`

[2017-06-29 20:23] diegomura commented on #106
Can you try doing a manual `lerna bootstrap`?

[2017-06-30 12:24] #111 closed

[2017-06-30 12:24] diegomura commented on #106
@buesing glad to hear that! Thanks!!

[2017-07-03 04:00] thucnd opened #114 "How to save a file as download"
When user click download button, it should save automatically. How to do it ?

[2017-07-03 04:13] diegomura commented on #114
This is not currently possible, since we don't have full support for the dom yet. It's definitely something we want to implement. There is another issue for this (#84) so I'm closing this one

[2017-07-03 04:13] #114 closed

[2017-07-06 12:48] MarceBrum commented on #58
Hey guys, just wanted to let you know that Im currently working on the landing page. Its been more than a month since my last iteration here, quite embarrassing, not gonna lie about it!  Talked to @diegomura a few days ago, I've been working like crazy, and didn't have the chance to get hands on this as I wanted, so... my apologies... anyway, as I was saying, Im working, so will share progress as

[2017-07-06 13:06] jbovenschen commented on #58
Don't worry to much about. Thank you for taking the time to create an landing page for react-pdf!

[2017-07-06 13:10] diegomura commented on #58
Thanks @MarceBrum ! There's nothing to apologize for of feel embarrassed. We do this because we like it, and in our free time. I'm glad you are still willing to contribute! I can't wait to see your work!

[2017-07-06 13:41] MarceBrum commented on #58
😊🙏

[2017-07-06 18:48] theobat opened #116 "Output File's not unlocked when render promise is resolved"
express cannot stream the file even if awaiting for the async render to resolve:

[code]
Then in an express controller function like this:
[code]
It is streaming a corrupted file. But accessing directly to the file is working, it seems like the file's unlock is not dependent on the render promise. Using the callback produces the same result.

Context:
node 8.1.2
express: 4.14.0
react: 15.6.1

[2017-07-06 21:51] diegomura commented on #116
The `render` method accepts a callback as a third parameter, which is called after the document was rendered. Can you try something like this? :

[code]

[2017-07-07 07:13] theobat commented on #116
@diegomura yeah I noticed this possibility in the code, however it produces the same result (the downloaded doc cannot be opened in any pdf viewer. Using a setTimeout with the callback you mentioned works though, that's why I think there's a race condition.

[2017-07-07 14:23] #44 closed

[2017-07-08 17:58] theobat opened #119 "Support for local file in Image component"
There should be support for local filepath when using src attribute of the Image component. Althouth it seems very simple to do I didn't go straight to a PR because the core package is shared between node and the browser, so directly using node packages such as path and fs might not be an option as far as I understand.

We could go with something like:

[code]
@diegomura what are your thoughts ?

[2017-07-09 20:26] diegomura commented on #119
Thanks @theobat !
You are right about we must have support for this feature.
Luckily for us, `pdfkit` already has support for local image files, so there is less to do on our side (http://pdfkit.org/docs/images.html).
I would avoid the `file://` prefix and just stick with urls and paths. If it's a url we fetch the image and add it to the doc (using `http` as the default protocol if not specified),

[2017-07-09 20:31] theobat commented on #119
All right I'm gonna do this

[2017-07-11 13:03] MarceBrum commented on #58
Hello guys, here you can take a look at what Im working on:

https://invis.io/RWCJ582GH#/243127553_Stile_Sheet

- Please have in mind this is currently under consrtruction. Im working right know on achieving a solid Design System. Recently I found this "8pt Grid System" that would love to apply. Seems like could improve not only the experience and Ui, but also, the building process...
Gota adjust

[2017-07-11 13:50] CentaurWarchief opened #120 "Do we even need babel in the node package?"
Newer versions of **node** already supports [**async/await**](https://github.com/diegomura/react-pdf/blob/master/packages/react-pdf-node/src/index.js#L6) out of the box. But doesn't support **ES modules**. I think we could turn them into simple requires and get rid of babel dependency in the core package.

So, I'd love to use the library with minimum transpilation requirements as possible — since

[2017-07-12 01:59] diegomura commented on #58
@MarceBrum I loved it!!! Loved the minimalist design, and the use of the red color with the white and gray. Thank you very much for this amazing work. It's looking very good so far.

I had the same idea for the REPL (actually, I was inspired by the Babel REPL). I don't see yet how that fullscreen modal would work. I imagined the REPL to be one of the first things you see when enter the site. Like

[2017-07-12 02:06] diegomura commented on #120
I would also love to get rid of the transpiration step if it's not needed. My only concern is that async/await is supported in node from v7.6 and above, which was (I think) released early this year. There are lots of people using previous version of node. So here comes the same question you had: should we try supporting those? I actually don't know and I don't have any argue in favor or against th

[2017-07-12 02:28] CentaurWarchief commented on #120
Not sure how easy would it be to support 2 versions in parallel.

But I think that: if we drop modules, but keep async/await. That'd be fine. Since most of the people that are using node < 7 for example are also using babel to transpile their code if they're using those features — hence, I don't think they'll be affected since the async/await will be transpiled as well and the syntax doesn't chang

[2017-07-12 02:31] CentaurWarchief commented on #120
I mean, we just relocate the babel requirement from our side to their side. If they have to.

[2017-07-12 03:31] diegomura commented on #120
Makes total sense to me. I say we should go for it.
Do you want to create a PR for this?

[2017-07-12 10:18] jbovenschen commented on #120
@CentaurWarchief the reason that it does need babel is because of stuff like async await like Diego mentioned already.

Also we tend to support also using the package inside of the browser, if we want to support IE and other more older browser we just need the transpilation step inside `@react-pdf/core`.
I think I read somewhere that you can point bundlers and node to separate entry points inside

[2017-07-12 12:02] CentaurWarchief commented on #120
Fosho.

Totally. But like... we should have a node version that's imports-free (since it isn't supported natively yet and the idea is to reduce/remove transpilation for those).

Also, @diegomura — yes, up for it.

[2017-07-12 21:23] diegomura commented on #120
Although everything you said its true @jbovenschen , I think we should get rid of the transpiling step just for the `node` package for the reasons @CentaurWarchief said. Of course we will still have it on the `dom` and `core` packages.

The only issue it may appear is someone trying to run `react-pdf-node` in a node version with no async/await support, which in that case he should (1) update his n

[2017-07-13 10:17] MarceBrum commented on #58
😄 Glad you like it @diegomura !! I'm happy to contribute man, thank you guys for letting me in!

About the REPL, I've been doing some research, and what I've found is that those that are punt into the page, as part of the content, some how or another end up being uncofortable to use, as when you want to scroll dow the actual site, you are stock scrolling inside the repl...  In the case of Babe the

[2017-07-13 10:43] MarceBrum commented on #58
Forgot to answe your question @diegomura the fonts are: Taviraj for headers, Source Sans Pro for P (both Google Fonts), and Ico Moon Free for icons. You can see their details on the first page of the guide

[2017-07-13 12:42] #116 closed

[2017-07-16 14:05] ferdinandsalis commented on #58
@MarceBrum this looks great!

[2017-07-16 14:17] ferdinandsalis opened #122 "Requires babel-polyfill when bundled"
When running my bundled app I get the following error: `ReferenceError: regeneratorRuntime is not defined`.

Including the `babel-polyfill` in my build solves the issue. I guess this is not the expected behaviour?

[2017-07-16 14:32] CentaurWarchief commented on #122
You need to incude babel-polyfill @ferdinandsalis. It's for async/await support

[2017-07-16 14:35] ferdinandsalis commented on #122
@CentaurWarchief yes, however I am running node v8.1.4 which as async support so I wouldn’t need to include the regenerator runtime.

[2017-07-16 14:37] CentaurWarchief commented on #122
Yeah, that's the issue I've opened recently here: #120. Unfortunately, we have this dependency. But I wish to PR this repository soon proposing the changes so we will only need to transform JSX.

[2017-07-16 14:40] ferdinandsalis commented on #57
@diegomura  I just ran across this error when I deployed my app on now.
[code]
I guess this is related to this issue or am I mistaken?

[2017-07-16 14:42] ferdinandsalis commented on #122
I guess I will close this in favor of #120 then. Thanks.

[2017-07-16 14:42] #122 closed

[2017-07-16 14:51] ferdinandsalis opened #123 "TypeError: Cannot read property 'register' of undefined"
`TypeError: Cannot read property 'register' of undefined`

This seems to be an issue with the latest release. Inspecting the index file in the `lib` folder it does not contain a reference to the Font module. However the `src` folder does.

To reproduce,
[code]

[2017-07-16 15:05] ferdinandsalis commented on #57
@diegomura & @jbovenschen what is the way forward with this issue? I really want to get this running. Anything I can do :)

[2017-07-16 15:24] diegomura commented on #57
I couldn't get into this issue in detail yet, but @jbovenschen had some good ideas above. Releasing react-pdf with a compiled version of yoga sounds like the way to go for me, but not sure.

I also don't know if there should be a compiled version for each node version or not, because I was forced once to rebuild yoga when I updated my node version

[2017-07-16 19:00] diegomura commented on #123
You're right. There is something very odd happening here. There are bunch of files that were erased in old versions of the library, but they are still going to the `lib` builded folder, such as `Catalog` and `GraphicState`:

<img width="410" alt="screen shot 2017-07-16 at 1 00 16 pm" src="https://user-images.githubusercontent.com/5600341/28249154-d59025dc-6a26-11e7-8acc-29bb96490d46.png">

Trying

[2017-07-16 19:38] diegomura commented on #123
I think it's fixed. @ferdinandsalis I released the v0.4.1. Can you test again?

[2017-07-16 20:38] ferdinandsalis commented on #123
Tried to test it. When installing the new version of `react-pdf/core` I get this wanring — `npm WARN react-dom@16.0.0-alpha.4 requires a peer of react@^16.0.0-alpha.4 but none was installed.`. When running the app: `Error: Cannot find module 'react/lib/checkPropTypes'`.

[2017-07-16 20:49] ferdinandsalis commented on #123
@diegomura I can confirm using the Font module works. Also installing the latest react alpha fixed the missing module error.

[2017-07-16 20:49] #123 closed

[2017-07-16 21:32] diegomura commented on #123
Awesome. Thanks!

[2017-07-17 12:24] #110 closed

[2017-07-20 12:53] MarceBrum commented on #58
Ok, finally here is the stuff you need to start building up the front end:

- Design Guide: https://invis.io/RWCJ582GH#/243127553_Stile_Sheet
- Landing proto v1: https://invis.io/RWCJ582GH#/244714498_Landing_V1

There you'll find key elements to start building the site, please have in mind that all data I put in is all place holders, everything here works just an example.

- Will add you guys now

[2017-07-20 12:58] MarceBrum commented on #58
@jbovenschen can't find your email here, please let me know if you'd like me to add you to the invision project

[2017-07-20 13:06] diegomura commented on #58
@MarceBrum you killed it here!
I love the design, very clean. And the REPL is awesome. I did many times, but thanks again for contributing on this way!

I'll try to work on this asap. I'm going to vacations in a week, but maybe I can at least start the project.

thanks man!

[2017-07-20 18:10] jbovenschen commented on #58
@MarceBrum I like it! You nailed it absolutely on the REPL, thanks for doing this!

[2017-07-20 19:51] MarceBrum commented on #58
thanks @diegomura  and @jbovenschen, awesome to hear you like it
It might need some twitches here and there, but the idea is to give you guys the basics to start building the page, whish I was able to have it sooner!
Anyway, glad to be helpful, anything you guys need just let me know!   😉

[2017-07-23 18:10] jmjpro commented on #29
@jbovenschen I'm new to react-pdf but maybe I can help with this since I need SVG support ASAP. What's the direction to resolve this? Would it be to add 'svg' to the switch in utils/image.js within the @react-pdf package and then use react-primitives-svg to actually the load the SVG file?

[2017-07-23 18:34] devongovett commented on #29
I'd recommend you look at https://github.com/devongovett/svgkit. It renders SVG files using PDFKit. I never quite finished it but it does pass a good portion of the SVG test suite. It should be possible to reuse a bunch of that code.

[2017-07-23 18:37] jmjpro commented on #29
thanks @devongovett. I noticed that seems to be the direction pdf-make: https://github.com/bpampuch/pdfmake/issues/121.

[2017-07-23 21:11] diegomura commented on #29
thanks @jmjpro to show interest!
I recognize two different use cases here:

- Importing a `.svg` file using the `Image` component (which I think is what you need right now)
- Using `react-pdf-svg-primitives` to build svg output inside the React code (which I think is what @jbovenschen thought when he created this issue)

Would be cool to support both, of course.

@devongovett, I was looking at `sv

[2017-07-23 21:24] diegomura commented on #58
I just created a new orphan branch in the project called `site` (https://github.com/diegomura/react-pdf/tree/site) where I plan to start developing the landing page. Many people create a new repo, but I worked with this approach and its nice to work with.

@MarceBrum, last week I talked with @cherta about the amazing work you did here. Thanks again man!

[2017-07-23 22:35] devongovett commented on #29
@diegomura The parser is a streaming interface. Something like this should work:

[code]

That could work for use case (1) above. Creating SVG out of react components would require a bit more work, but basically just requires wrappers around the [element classes](https://github.com/devongovett/svgkit/tree/master/src/elements) in svgkit.

[2017-07-23 22:47] diegomura commented on #29
Awesome. I like this approach. Is very similar to the one we are following for almost everything, at least.

For (2) I agree we will need wrappers for all those elements (also present in the `react-svg-primitives` project, https://github.com/chengyin/react-primitives-svg/blob/master/src/core.web.js). Here, what we can do, is making the `Svg` wrapper render all the tree within it, and create a stre

[2017-07-23 23:00] devongovett commented on #29
I'd say avoid the stream for (2). It's only a stream because it is parsing from a string using an XML parser. We don't need to parse XML because we have react elements. If instead we have the wrappers just construct the elements directly instead of the parser, then call `draw` on the root `SVG` node, it should work I think.

* `SVG` wrapper node [constructs](https://github.com/devongovett/svgkit/b

[2017-07-23 23:09] diegomura commented on #29
Awesome! If that's possible, I'd say we do it. I didn't check that `svgkit` inner elements were exported. Thanks @devongovett !

[2017-07-24 07:55] MinJieLiu opened #125 "It can not run in next.js"
### It can not run in `next.js`

Error: `fs net tls` not installed.

### It also can not run in `create-react-app`:

Error: `Uncaught ReferenceError: _regeneratorRuntime is not defined`

I have used `babel-polyfill`

[2017-07-24 13:38] jmjpro commented on #29
I have some pretty complicated SVGs using filters. The PDF is currently generated using PhantomJS and I'm looking for a more efficient mechanism.

Trying to digest all this now. Will get back to you guys...

[2017-07-25 03:58] devongovett commented on #29
Filters are hard because PDF doesn't really have a way to represent them. We'd basically have to rasterize the filtered elements and embed an image instead of vectors. svgkit doesn't implement filters for this reason.

[2017-07-25 08:28] knowbody commented on #84
was there any work done on this so far?

[2017-07-25 09:31] jbovenschen commented on #84
@knowbody I'm spending the free time I have currently to figure out a better way to bundle pdfkit so it works easy in the browser, also this would mean it will include less node internals bundled.

Don't have that much time to do so, sorry about that.

[2017-07-25 09:33] knowbody commented on #84
@jbovenschen no, not at all. I'm just curious if someone is working on it so I do not double up the work. Trying to find some time and hopefully I can take a look into it very soon

[2017-07-25 09:33] jbovenschen commented on #125
I will improve on our side how we bundle our stuff, this is an issue we know about. If you are interested in helping us on this particular issue your welcome.

The idea is to do the babel transpilation trough babel-preset-env and babel-runtime, like the way create-react-app does it internally.

[2017-07-25 10:40] jmjpro commented on #29
I see that svgkit already has a devDependency on https://github.com/Automattic/node-canvas. Could node-canvas be used to rasterize the filtered elements? Since PDF is a static document, are there any disadvantages to rasterization for the purposes of PDF? Is it a performance issue?

In any event, I'm testing today whether or not I can reproduce the SVG filters as CSS filters to avoid the problem.

[2017-07-26 05:04] devongovett commented on #29
The issue with rasterizing is that it loses the scalable aspect of SVG, meaning that you cannot display it losslessly at any resolution anymore. Browsers will reapply the filter when you zoom in and out, but this cannot be done in PDF. Not only is this a problem for zooming in and out, but it's also an issue when displaying on different resolution displays, or high resolution printers for example.

[2017-07-26 19:55] jmjpro opened #126 "Question: using react-storybook"
Can I use react-storybook to design a PDF with react-pdf?

[2017-07-26 20:17] jmjpro opened #127 "Borders not being rendered?"
Upon a cursory reading of the code I see that borders are supported. Do they only work on certain elements?
[code]
No border is displayed.

[2017-07-27 09:37] jbovenschen commented on #126
It's not supported currently, if we get the dom bindings working again. You will be able to just use the `@storybooks/react-storybook` package directly.

If we want to use the node version we should create a `storybooks-react-pdf` package, which does not have any priority with the current state of the project. But would be cool to have.

[2017-07-27 16:29] diegomura commented on #127
We don't have border support yet. The only thing we are doing is expanding the styles `border` and so on into `borderBottom`, `borderLeft`...

I think the way to do this should be by checking in `elements/Base` if there is a border attribute, and render rects, lines or whatever based on the possible combinations. The trickiest scenario would be having two or three borders (ex. left and bottom) wit

[2017-07-28 08:53] codepunkt commented on #57
What exactly is yoga used for? I'm not sure i understand the benefits it brings - as opposed to manually adding some flexbox styles?

[2017-07-28 08:57] ferdinandsalis commented on #57
@codepunkt if I am not mistaken yoga is a layout engine that uses the flexbox spec. And since we dont use a browser we need yoga. And flexbox is great since we dont want be adding coordinates (this is what pdfkit does; which is what react-pdf uses under the hood to do all the nasty font stuff and so on) to all the objects we want to place in the document. @diegomura or @jbovenschen correct me if I

[2017-07-28 12:42] jbovenschen commented on #57
@emilsjolander seems this is a bit of an issue in our library, is there any change that yoga could publish also compiled versions on npm?

[2017-07-28 15:20] ferdinandsalis commented on #57
@diegomura awesome. I Would love to tackle this myself but I currently lack the time and technical expertise — all I can do for now is donate some money through open collective. @diegomura have a great vacation and I look forward to what you are up to with react-pdf once you are back. However if someone else has time to tackle this issue it would be greatly appreciated.

[2017-07-28 18:34] diegomura commented on #57
Thanks man! your contribution through open-collective is really appreciate it, honestly.
And of course, if someone wants to tackle this issue, please do!

[2017-07-29 05:13] devongovett commented on #29
Wrote a basic proof of concept for inline SVG support using svgkit. Code is pretty simple, see [here](https://github.com/diegomura/react-pdf/compare/diegomura:master...devongovett:svg), and [here](https://github.com/devongovett/react-pdf/blob/98a604d09e279443bba74fbd71e53e13c1499298/examples/svg/output.pdf) for a sample output. There is an `SVG` wrapper component, and from there it just traverses

[2017-07-29 14:10] jbovenschen commented on #29
@devongovett Thanks for doing this man, looks really good and kinda like we intended to support svg in react-pdf.

What we could do is creating an other package named `@react-pdf/svg` which will register extra components like how you could add stuff to `react-native` which are not included in the core out of the box (see react-native-svg) as reference, so we would not create a huge package with st

[2017-08-09 11:55] tuananhtd opened #128 "Cannot run the example"
I want to run the `example\dom-bindings`. I'm not used to Yarn, should I just go inside the folder and do `yarn install` and `yarn start`?

I got this error:
[code]

I though I have to do `npm install` but then I got another error
[code]

[2017-08-09 22:41] jmjpro commented on #57
👍 +1 This sounds like one of the main reasons the README lists this library as not production ready...

[2017-08-10 04:47] eliseumds commented on #57
@jmjpro do you have a public fork of the updated *yoga*?

[2017-08-10 06:23] jbovenschen commented on #57
@jmjpro Yes this is one of the reasons we list this library as non-production ready, besides that we have to figure out a good way to support multiple platforms.

If anyone knows a way to provide a compiled bundle of yoga I'm happy to do so.

[2017-08-10 23:16] jmjpro commented on #127
I added some cases to the switch and I see that it's getting there, but it seems to have no effect within the yoga code:
[code]

[2017-08-11 09:58] diegomura commented on #127
Thanks for tackle this. Unfortunately I cannot help right now because I'm on vacations 😅  I'll come back in a couple of days and resume this. Thanks again!

[2017-08-12 14:46] ivosabev commented on #125
Can't make it work even with `import 'babel-polyfill;'.

[2017-08-12 16:27] IngenieroLata commented on #125
I tried to use the `babel-preset-env` but haven't been able to run the examples either.
[code]
Maybe I'm missing something?

Also I was trying to update the dependencies and found the `'react-dom/lib/ReactFiberReconciler'` got deprecated on react16 beta. You can check more [here](https://github.com/facebook/react/issues/9103#issuecomment-319750290). So dunno if someone is updating the renderer.js

[2017-08-16 10:33] monkeydri opened #129 "Critical dependency: the request of a dependency is an expression in ./~/@react-pdf/core/~/ajv/lib/async.js"
I have this warning on webpack build (I use Webpack DLL plugin).

My react app then works fine but I cannot use ReactPDF, when I `import ReactPDF from '@react-pdf/node';` the app does not load anymore (not error shown in browser console or node console).

Might be related to issue https://github.com/diegomura/react-pdf/issues/120 as it might be needed to use a babel plugin so it can transpile asyn

[2017-08-16 14:07] monkeydri commented on #129
I don't have the warning if using `ajv` module v5. App still does not launch if I import ReactPDF though, no error shown anywhere, don't know if it is related to async/await...

[2017-08-21 00:41] jmjpro opened #130 "absolute and relative positioning not working"
I'm trying to use react-pdf to implement a flexbox layout like this:
<img width="194" alt="percentile_score" src="https://user-images.githubusercontent.com/3256717/29499829-9b284d86-85d6-11e7-9512-c63f16ca6678.png"> html/css code: https://codepen.io/jmjpro/pen/ayyZod

The circles with the numbers in the middle are implemented using absolute positioning, with relative positioning on a parent elemen

[2017-08-21 00:43] jmjpro commented on #127
@diegomura are you still away on vacation? Looking for some direction here...

[2017-08-21 01:00] diegomura commented on #127
I arrived home today haha. I look forward to start working on these issues soon this week!

[2017-08-21 01:06] jmjpro commented on #127
great thanks!

[2017-08-21 23:52] diegomura commented on #128
Hi @tuananhtd . `dom-bindings` examples are not currently working since we are not done yet with setting up `pdf-kit` to work on a node standard environment. @jbovenschen do you know if there is any progress on this? this is starting to cause lots of trouble.

[2017-08-27 14:25] jmjpro opened #131 "notes on moving to a production build"
1. We should consider adding an `engines` section to package.json listing with which node versions react-pdf is compatible like this:

"engines": {
  "node": "^6.4.0"
},

2. package.json dependencies can be both simplified and dynamic by adding babel-preset-env instead of babel-preset-es2015, babel-preset-stage-0, and babel-register. Here's the corresponding change to .babelrc lines:
[code]
babel-

[2017-08-29 02:44] diegomura commented on #126
Closing this. It's not an issue, but a question that was already answered

[2017-08-29 02:44] #126 closed

[2017-08-29 02:47] diegomura commented on #24
All the points listed in this issue are already working and published on npm, so I'm closing it 😄

[2017-08-29 02:47] #24 closed

[2017-08-29 02:49] elpic opened #133 "Image examples are not working"
Image used in the example doesn't exist anymore. Maybe examples could be updated.

[2017-08-29 02:50] elpic commented on #133
Maybe you can use this service. https://unsplash.it/300/300.jpg what do you think?

[2017-08-29 03:04] diegomura commented on #131
I never used the `babel-preset-env`. Seems pretty convenient. Never had a problem manually specifying the presets though. What critical disadvantage do you see about doing that?

I don't have yet a list of all the engines that this library support, and it seems its needed for what you mentioned in points number 1 and 2.

For the point number 3, I got a bit lost to be honest. I think we are only us

[2017-08-29 03:06] diegomura commented on #130
Yes. This is on the scope. Thanks for the example

[2017-08-29 03:08] diegomura commented on #133
Haha. Thanks @elpic . I just run across the same problem and solve it here https://github.com/diegomura/react-pdf/pull/132 (with another image though 😂 )

[2017-08-29 03:14] diegomura commented on #128
Closing this in favor of #101

[2017-08-29 03:14] #128 closed

[2017-08-29 07:22] jmjpro commented on #131
My understanding is that without babel-preset-env we are loading each polyfill regardless of whether the environment (i.e. node version) already provides the language feature associated with the polyfill. So babel-preset-env means both less configuration and less runtime code.

For the engines section I left off the word _minimum_: we should specify the minimum supported node version. That's what

[2017-08-29 07:23] jmjpro commented on #126
@jbovenschen what are the main things missing from the DOM bindings?

[2017-08-29 10:05] #133 closed

[2017-08-29 12:25] jmjpro commented on #57
@jbovenschen have you looked at https://github.com/mapbox/node-pre-gyp? I discovered it via this article: https://cylonjs.com/blog/2014/11/19/creating-multiplatform-precompiled-binaries-for-node-modules/.

[2017-08-30 13:01] diegomura commented on #29
@leontalbot Not from my end, sorry. Didn't have much time to cover this 😄

[2017-09-02 18:35] #127 closed

[2017-09-02 18:40] diegomura commented on #127
Fixed! You have borders support on v0.4.2 now

[2017-09-02 20:40] KerenChandran opened #134 "Bullet List Support"
Love this project! Actually using it to help me build my resume and will continue using it depending on the results of this task.

I'd like to add a bullet list (unordered list), however I don't see an intuitive component to add a Bullet List. I noticed there was an issue reported long ago, but I think that was before a rewrite. Hopefully someone can help me out!

[2017-09-04 09:01] MartinThoma opened #136 "DOC: How do I run an example?"
I think a bit more documentation regarding the installation / how to run an example would be good.

I just tried:

[code]

I would like to see a section

[code]

[2017-09-04 12:15] diegomura commented on #136
Thanks for the suggestion. I'll add something like that.
Regarding your snippet, you should run `yarn example -- fractals` only, without the `examples/` prefix

[2017-09-04 12:15] #136 closed

[2017-09-04 12:25] MartinThoma commented on #136
You're welcome :-)

Did you know that you can add `closes #136` to a commit message and Github closes that issue as soon as the commit is in master? It then also links the commit within the issue. I think issues should stay open until they are fixed / rejected.

[2017-09-04 12:40] diegomura commented on #136
I knew that, yes.
I do it with the big issues. In this case I just updated the README, so I assume there was no need 😉
I will take that into account for future times

[2017-09-04 12:59] jmjpro commented on #130
@diegomura, if this isn't something you can look into in the next week or so, can you point me in the right direction as to how to resolve it?

[2017-09-04 15:19] KerenChandran opened #137 "Custom Font Rendering Issue"
Love this project so much that I decided to use it to build my resume. I'm trying to use Open Sans and Lato fonts for my resume, however, the resume isn't building correctly. In some cases, the last line of text is replaced with a blank line. I tried removing the custom fonts, and the pdf renders correctly, so I'm pretty sure it has to do with rendering custom fonts.

Here's a repo containing my r

[2017-09-04 18:14] diegomura commented on #130
I can't promise I would have time, sorry, but will try to give it a shot soon.

Yoga already supports absolute positioning, so I would start in the `Base.js` element, checking for the type of position and calling corresponding binding. Then everything would be the same, because the elements takes the coordinates from Yoga to position themselves inside the document.

[2017-09-05 13:10] diegomura commented on #130
@jmjpro this is almost done. test are failing, but will solve it today I think

[2017-09-06 07:24] jmjpro opened #139 "enhancement idea: support css media queries"
Enhancement idea: the Page component should support the CSS Paged Media Draft Specification. See
- https://www.w3.org/TR/css3-page/
- http://caniuse.com/#feat=css-paged-media and -
- https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/

[2017-09-06 07:40] jmjpro commented on #130
@diegomura great looking forward to trying it!

[2017-09-07 11:35] jmjpro opened #140 "Styles not cascading?"
Use case: View element with child element
[code]
_expected_: Without `color:white` on the reportName, the text is visible and the PDF output is a black block with white text
_actual_: Without `color:white` on the reportName, the text is not visible and the PDF output is an all-black block

[2017-09-10 18:38] tzookb opened #141 "any idea on this error for running tests:"
lerna info version 2.0.0-rc.5
lerna ERR! build:clean Errored while running script in '@react-pdf/core'
lerna ERR! execute Error: Command failed: npm run build:clean
lerna ERR! execute sh: rimraf: command not found
lerna ERR! execute
lerna ERR! execute npm ERR! Darwin 16.7.0

[2017-09-11 02:04] #130 closed

[2017-09-12 12:14] #57 closed

[2017-09-12 12:17] diegomura commented on #57
@ferdinandsalis can you try the beta version v0.4.5 and see if works now? I think I fix this issue (at least partially). @jbovenschen said that he tested in in Linux and worked

[2017-09-12 13:11] jbovenschen commented on #57
Made a PR which enables linux in travis again, see #143.

[2017-09-12 14:12] jbovenschen commented on #141
Did you run `yarn run lerna bootstrap` before running the tests? It seems that there are packages missing in `@react-pdf/node` and `@react-pdf/core`

[2017-09-12 14:15] jbovenschen commented on #131
I did creata a 'babel-preset-env' branch a while ago, with the idea to be able to create different packages for node / dom inside the `@react-pdf/core` packages which could be resolved in the suitable packages, but don't have yet a fully working solution yet. Will come back to it hopefully soon.

[2017-09-12 15:01] diegomura commented on #141
I think `rimraf` is missing from devDependencies. I added it in one of the last PRs. Please pull the last code and try again

[2017-09-12 15:21] tzookb commented on #141
Thanks guys, it works !

thought it will open a browser and not save the pdf.

do we have view in browser or only saving as pdf?
I noticed a comment somewhere its still in development

[2017-09-12 17:59] ferdinandsalis commented on #57
@diegomura will do! Thanks for letting me know.

[2017-09-12 19:26] diegomura commented on #141
Exactly. browser support is still under development. For the moment, I can only guarantee to work on Node, saving pdf's to the file system

[2017-09-12 19:26] #141 closed

[2017-09-13 19:30] snettah opened #144 "invalid ELF header"
Hi, i have an error when i run yarn example -- fractals
somebody know how to solve it?
Thanks.

[2017-09-13 19:55] snettah commented on #144
Resolve.

I remove the latest comma in `packages/react-pdf/scripts/compileYoga.js:20`
then i run `yarn run precompile` then `yarn run build` in `packages/react-pdf`

[2017-09-13 20:33] diegomura commented on #144
can you explain to me what that comma had to do with the error you got?
Maybe the issue was solved because you precompiled everything. I'm not sure if has something to do with the comma.

[2017-09-14 07:08] snettah commented on #144
`yarn run precompile`

[2017-09-14 12:40] jbovenschen commented on #144
Thank you for finding this, out of curiosity which version of node did you use?

[2017-09-15 06:34] hello-cw opened #147 "Warning: Ignoring invalid character "33" in hex string"
![n 1 gnedgbd1clu 2gvr4p](https://user-images.githubusercontent.com/22360683/30469444-eafed59a-9a22-11e7-9a92-47e8580c2c73.png)
How to solve it?

[2017-09-15 06:50] jbovenschen commented on #134
Thanks for pointing this out, our main focus is to enable all the main primitives like you have in react-native and react-sketchapp which are `View`, `Text` and `Image` this doesn't include any primitives for things like bullet lists.

You should be however be able do it the same way as in [this Stack overflow issue](https://stackoverflow.com/questions/40441877/react-native-bulleted-lists-using-fl

[2017-09-15 07:01] #134 closed

[2017-09-15 14:22] diegomura commented on #147
Can you give a bit more detail of what's happening to you?
You can't expect us to understand what's going on based just on that image 😄

[2017-09-18 01:24] hello-cw commented on #147
I want to display PDF on the page, but it's garbled when it comes to Chinese.

[2017-09-18 04:34] meddlesome opened #148 "Character Height in Asian Language"
I found `react-pdf` is render Asian Language (in this case, Thai) is not properly rendered as a compared result with normal PDFkit.

**react-pdf**
<img width="591" alt="screen shot 2560-09-18 at 11 29 47 am" src="https://user-images.githubusercontent.com/83927/30529181-eb8c94c2-9c64-11e7-8a29-86c77de10245.png">

**PDFkit**
<img width="661" alt="screen shot 2560-09-18 at 11 29 54 am" src="https://u

[2017-09-19 16:16] n-marshall commented on #144
With node v7.8.0 I still get the "invalid ELF header" error, even after recompiling.

Now I saw in the commits there is no "precompile" command anymore, that yoga comes compiled with the repo now ? So I can't fully apply this solution.

Anyways can we **re-open the issue** ?
does anyone have a clue what I could try to solve that ? Thanks

[2017-09-20 19:22] ChristianTracy commented on #144
I'm getting the same error with node 6.11.1 and 8.5.0 running `yarn example -- fractals` and `npm test`

`/react-pdf/packages/react-pdf/bin/8/nbind.node: invalid ELF header

      at Object.Module._extensions..node (module.js:653:18)
      at Module.load (module.js:545:32)
      at tryModuleLoad (module.js:508:12)
      at Function.Module._load (module.js:500:3)
      at Module.require (module.js:

[2017-09-21 19:02] miracle2k opened #149 "Page wrapping"
Do I understand correctly that react-pdf currently does not attempt to do any page wrapping, that is, if the content overflows a page, I have to catch that myself and move it to a second page, correct? Any plans regarding this?

[2017-09-25 14:13] diegomura commented on #149
Not yet. It's simple if you think about just a text page. But when thinking on nested Text elements, this becomes more tricky. In these cases, the other elements on the page should also be rendered in the new page to respect the layout? These are the type of questions we didn't answer yet.  In addition to that, doing this will break Yoga's layout, so that's another issue to tackle.
I'm sure we can

[2017-09-25 14:16] diegomura commented on #148
Sorry for my ignorance, but aren't the first line equal in those images? In the `react-pdf` example, are you rendering more text? or why there are words on english? Is that part of the issue?

I would appreciate some example code so I can replicate this 😄 . Thanks!

[2017-09-25 14:17] diegomura commented on #147
Can you provide the code needed to replicate this? Thanks!

[2017-09-25 14:18] diegomura commented on #144
@jbovenschen why did you close this? Is this resolved?

[2017-10-03 04:07] tuananhtd commented on #101
@jbovenschen I thought `pdfkit` work fine in browser on it own? which node internals we need? Btw what do you mean by "converting to babel instead of coffeescript". I know the `pdfkit` lib is written in coffeescript but we're already use babel right?

[2017-10-03 10:25] jbovenschen commented on #101
It works kinda work, if we add a compiled version with browserify of pdfkit to the project, only this includes node specific packages which create a lot of unnecessary overhead, could be a lot smaller if we shim the needed parts with browser specific API's.

If you want to try to get it running with a compiled version inside the project I will take a look to improve it when I have some spare time

[2017-10-03 12:25] jbovenschen commented on #144
I thought it was resolved with a PR a while ago, but it seems it still exist will re-open this issue.

[2017-10-05 23:24] #147 closed

[2017-10-05 23:36] diegomura commented on #144
@snettah @ChristianTracy I tried with all the versions that you said and I couldn't replicate. What OS are you using?
Try cloning again the repo, and running `yarn install`.
Sorry for taking that much to answer. Busy days 😅

[2017-10-05 23:39] diegomura commented on #137
hey @KerenChandran . Is this still an issue? Couldn't see what's the line that is getting blank on the `output.pdf` file that you got in the project

[2017-10-05 23:47] diegomura commented on #137
Oh yes. I now see it. I think it's a layout issue. Yoga is giving less space than the text requires, and pdfkit is trimming it. I'll work on this. Thanks for reporting it.

Btw, this is one of the coolest usages I've seen of the lib so far 😉

[2017-10-07 00:23] SPAHI4 commented on #101
for me it can't find `net` module, when it's running from browser.

[2017-10-08 21:21] #137 closed

[2017-10-08 21:26] diegomura commented on #137
@KerenChandran I deployed `v0.4.6` that fixes this issue.
Also, I changed the `Page Layout` example with a `Resume` one, very similar than yours 😄  I hope yo don't mind

[2017-10-08 21:27] diegomura commented on #11
I don't think this should be a part of the core library anymore.
In the future, if someone needs this this feature he can use a Text with some transformation

[2017-10-08 21:27] #11 closed

[2017-10-08 21:27] KerenChandran commented on #137
@diegomura yeah I got a notification from your release! I'm cool with you using a resume example! Thank you so much for fixing the issue!

[2017-10-08 21:31] SPAHI4 commented on #149
I need to generate a pdf file with random text, that can be a huge size.
Is there any way to catch it and generate another page?

[2017-10-08 21:36] diegomura commented on #137
Please try it and let me know if not working!

[2017-10-08 21:38] diegomura commented on #149
@SPAHI4 not yet, sorry. As I said above, I'm not sure how the API will be for this, or how to implement it. Feel free to research/implement a proposal

[2017-10-08 21:47] KerenChandran commented on #137
Yup everything looks good! Thanks so much. Will need to continue working on this and then push out a new version

[2017-10-11 18:34] ChristianTracy commented on #144
Sorry for the delay @diegomura. I'm currently working in windows. I tested in powershell and with the ubuntu bash inside windows 10. Maybe the problems is the OS

[2017-10-12 00:27] diegomura commented on #144
Probably is. I always tested the library with macOS. We should include the Yoga binaries also builded on windows I guess. I don't have enough time to fix this right now, but thanks for reporting it. If you feel like giving a shot, please do. Thanks!

[2017-10-12 09:48] rej156 commented on #144
Reporting the same issue here @diegomura
Trying to install @react-pdf/node and @react-pdf/core from within a docker linux container to no avail. :(

[2017-10-14 16:29] SPAHI4 opened #151 "it doesn't work on windows"
[code]

[code]

nodejs 8.7.0, yarn 1.2.0, windows 10 x64

[2017-10-18 21:09] rogierslag opened #152 "Render to stream"
Internally react-pdf already uses readable streams to push the data into a file. For some use cases it might be beneficial to expose a regular NodeJS stream directly (instead of rendering to a file).

For our case, we are now writing to a file, reading it again and exporting it, then deleting the file. We could save a lot of overhead if `ReactPDF.render` had a `ReactPDF.renderStream` sister.

[2017-10-19 01:12] diegomura commented on #152
I like the idea!  I think the API you define is fine. Do you think you can submit a PR about it?
I would do it, but I didn't have much time lately

[2017-10-19 15:34] LGabAnnell commented on #144
Hi,

I ran into the same problem on my Linux machine, and managed to fix it (i.e. managed to make react-pdf create the example pdfs) by just adding a line in `packages/react-pdf/package.json`:

https://github.com/LGabAnnell/react-pdf/commit/7c63d31deda241f79221da9a10e9d37adb837a06#diff-24e6c26ebaf9b09b935aa692b77b392a

I haven't tested it on Windows.

[2017-10-20 06:14] gusdewa opened #155 "Build error: nbind.node is not a valid Win32 application"
Hi,

I have followed the steps to run the example:
[code]
Then I start the example with `yarn example -- fractals`

However, I get an error `react-pdf\packages\react-pdf\bin\8\nbind.node is not a valid Win32 application\`.

I am using Node v8.5.0 x64 in Windows. Do you happen to have any suggestions how to solve the build error? Thanks.

[2017-10-20 12:29] #152 closed

[2017-10-20 12:33] diegomura commented on #155
Seems related to #151 .
Thanks for reporting it. I was aware of this, but unfortunately I didn't have time to review it yet.
I'm closing this issue for the other one 😄

[2017-10-20 12:33] #155 closed

[2017-10-21 18:14] rogierslag commented on #119
Any updates on this?

[2017-10-22 05:52] gusdewa commented on #155
Hi @diegomura , OK no problem. Hopefully, it will get fixed very soon 👍

[2017-10-22 17:09] rogierslag commented on #84
In case you are still interested: I recently created a PR (which is merged #153) so you can stream a pdf directly from a node.js service (your frontend could do a request). I intent to make a service which automates this open source asap.

If you need it to be completely done from the browser, I dont think that is possible (yet)

[2017-10-24 08:12] rogierslag opened #158 "Add an `.nvmrc` file"
Currently it is a bit unclear on which node version you develop. I just tried using 8.5 but that messes up all the indenting in snapshots.

Adding an `.nvmrc` file would allow everybody to run `nvm use` to select the correct version

[2017-10-24 09:43] jbovenschen commented on #158
Don't know if this is a solution, this means every one who wants to contribute to this project need to have NVM setup on his machine. Would it help if we add a engines: [], with supported versions in the package.json in the root of the project?

[2017-10-25 00:38] kennylbj commented on #129
+1

[2017-10-25 20:02] #119 closed

[2017-10-25 21:00] christiangenco opened #160 "TypeError: Cannot read property '1' of null"
I'm trying to get `react-pdf` working in a `create-react-app` new project.

I created the project with `create-react-app pdfdemo`, then added `react-pdf` with `yarn add @react-pdf/core`, then tried to `import { Page, Text, View, Document, StyleSheet } from "@react-pdf/core";` in my `App.js` generated file.

This failed with `ReferenceError: regeneratorRuntime is not defined`, which I fixed with `i

[2017-10-25 22:05] diegomura commented on #160
`react-pdf` is not running on the browser yet. That's why you get that. You can read or comment on #101 for more info. Thanks!

[2017-10-25 22:05] #160 closed

[2017-10-25 22:17] bkoltai commented on #101
Does someone have this working in the browser? I would really like to use it for client-side PDF generation.

If you do, can you please provide a list of steps to get it going?
If not, what is the list of things that need to get done in the project?

[2017-10-26 14:45] jbovenschen commented on #101
I'm currently trying to get it working with a custom pdfkit build, need to do some changes but I guess I am nearly there. The thing is don't have custom font rendering working ATM. Hopefully I can finish it this weekend.

[2017-10-26 15:34] diegomura commented on #101
That's awesome @jbovenschen !! Ping if you need help!

[2017-11-01 17:03] nkoder commented on #158
I'm quite sure it's not true :-) When `.nvmrc` is provided:
* you can use it with nvm to setup proper node version,
* you can still set another node version with nvm,
* you can have no nvm on your machine and install/use node in the version suggested in `.nvmrc` (after just looking into it to know the recommendation),
* you can have no nvm on your machine and install/use node in any other version.

[2017-11-16 13:17] kaiomagalhaes commented on #144
I'm facing exactly this same issue =/

[2017-11-16 15:47] diegomura commented on #144
@kaiomagalhaes thanks for reporting. This is on my top of priorities, but I couldn't work on that yet. I've been very busy this past few months, but I'm going to be free soon 😄

[2017-11-16 16:01] kaiomagalhaes commented on #144
@diegomura just something that may be important, I'm facing this issue on my linux only, on my mac it works just fine.

[2017-11-23 12:00] VrajSolanki commented on #149
Since react-pdf is not able to auto wrap to next page the my basic question is how people use it. since you use react components that mostly grow based on data, eventually everybody ends up calculating the size and comparing it to the page height.
Or is it that people use to generate static data?? Please Suggest.

[2017-11-23 12:54] diegomura commented on #149
Hi @VrajSolanki !
I know from people that are using it for generating non-static data documents.
Unfortunately for the moment that's the only way. This is a feature I would like to see in the library, but that I couldn't tackle yet. I _think_ I will have some time on the following weeks to keep working on the lib, but until then, there isn't another solution rather than that.
Thanks :)

[2017-11-23 16:38] #158 closed

[2017-11-24 07:51] VrajSolanki commented on #122
@ferdinandsalis hey, I am using react pdf and I am not sure how to add babel-polyfill in the dist step. Can you guide?
my dist command looks like: `babel src --out-dir dist --presets es2015,react,babel-polyfill && node dist && node dist/index.js`

[2017-11-24 10:33] VrajSolanki opened #162 "Breaks while Build"
machine: Linux
node version: 8, Error: invalid ELF header
8-alpine, 7-alpine: Exec format error

command: babel-node ./dist/index.js

[code]

[2017-11-24 12:32] diegomura commented on #162
In which OS are you running this?

[2017-11-24 12:35] VrajSolanki commented on #162
rancher os

[2017-11-24 12:39] diegomura commented on #162
There are some issues when running on Linux (#144).
I've been working on solving these, but without success yet. Try manually precompiling (as it says in that ticket)

[2017-11-25 12:32] korroktheslavemaster commented on #144
Removing the `yarn.lock` in the repo fixed this for me.

[2017-11-30 12:37] Bamii opened #163 "Cannot find module "fs""
Hi, i keep on getting this error from npm
Uncaught (in promise) Error: Cannot find module "fs"
    at webpackMissingModule (index.js:7)
    at eval (index.js:7)
    at Object../node_modules/@react-pdf/node/lib/index.js (reactBoilerplateDeps.dll.js:1257)
    at __webpack_require__ (reactBoilerplateDeps.dll.js:49)
    at eval (eval at 61 (5.chunk.js:16841), <anonymous>:1:42)
    at Object.61 (5.chun

[2017-11-30 13:07] diegomura commented on #163
You are trying to run the library on the web right?

[2017-11-30 14:32] Bamii commented on #163
Not exactly, i'm running it on a dev server. But i'm connected to the internet.

[2017-11-30 15:09] diegomura commented on #163
Could you please give more information about what you are doing?
That error message seems to point that you are not running the code on Node. The web version of this library is not working yet, but I'm working on it (check #101)

[2017-12-01 15:27] VrajSolanki opened #164 "Bold, Italics specific word in Text"
Hello @diegomura
I wanted to certain word to be made bold in the <Text></Text> block, but was unsuccessful.
Approaches I tried:
1. `<Text><Text>this line contains </Text> <Text styles ={boldStyle}bold words </Text> </Text>`
error: > Cannot read property 'getAbsoluteLayout' of null

2. <b></b> doesn't work.
Is there a way that it can be done? Please Suggest.

[2017-12-01 15:32] VrajSolanki opened #165 "Memory leak on Production."
Hello @diegomura
the module suggests it should not be used in Production. What does it exactly implies??

I tried deploying it on AWS, machine using docker container. Now the problem I face is: I observe on each pdf generation it tends to acquire around 70-80mbs of memory and doesn't release even after pdf generation is over and this process goes on.

Can you please suggest, if the module has an i

[2017-12-05 18:43] tzookb commented on #163
How do we have browser examples?

but when I try to run the code snippet from the main readme

I get those "fs" "tls" errors?

is there something Im missing?

[2017-12-06 05:11] diegomura commented on #163
@tzookb the library is not working on the browser yet

[2017-12-06 05:14] diegomura commented on #144
I'm currently working in a full Yoga rewrite to plain JS (https://github.com/diegomura/flexbox-js) so we can forgot about c++ compilation and issues like this one. It's just an experiment for the moment though. Yoga is great and I don't want to reinvent the wheel in here, but has been giving build problems since the beginning.

[2017-12-06 05:42] tzookb commented on #163
Thanks @diegomura

Any tips on how to develop a pdf and easily viewing the result in the process?

Can I use the node version and instead of saving the file to stream the output with pdf headers?

[2017-12-06 09:24] tzookb commented on #163
If I'll do something like this in node:

any idea how to get the "buffer" from the "PDFDocument" ?

[code]

[2017-12-06 09:48] rogierslag commented on #163
You can check out this code: https://github.com/inventid/pedeffy/blob/master/src/index.js#L33-L53

[2017-12-07 04:51] diegomura commented on #164
There is currently no way of doing something like this. The main reason is because of the difficulty of rendering text on the document. You would have to calculate where to stop rendering a text, and where to start the next one with different styles. In addition, there are issues like line splitting and more that I'm not even taking into account for the moment

[2017-12-07 11:38] VrajSolanki commented on #164
@diegomura true that was the issue I was facing, okay let me pull and try to figure this out, if I can I will send a PR.

[2017-12-07 13:14] diegomura commented on #164
That would be awesome! Thanks @VrajSolanki

[2017-12-14 16:16] tpreusse commented on #149
An `<AutoPage>` component with size information callback would be super cool:

[code]

Could be combined with the header/footer component proposal from @SPAHI4

[2017-12-14 22:01] diegomura commented on #149
Hi everyone!
Thanks for your amazing proposals!
I will grab many things from them I say what I think and how I would implement it to keep the discussion opened:

**1. Do not infer anything about the content structure**
Having things such as `Page.Header` or `Page.Footer` it's a good idea, but the downside that I see about it is that we are inferring too much about the document that the user wants

[2017-12-22 01:43] ngbinh commented on #101
any update on this issue? Thanks

[2017-12-22 13:38] diegomura commented on #163
Not yet 😞

[2018-01-03 00:54] rclai opened #167 "Text `align` style property should be `textAlign`"
I noticed that the text alignment style property is called `align`, shouldn't it be `textAlign` in order to match CSS standards?

https://github.com/diegomura/react-pdf/blob/75e9b5241855cc67dbf743bebede7b462d761258/packages/react-pdf/src/elements/Text.js#L121

[2018-01-03 15:48] rclai commented on #144
@snettah's solution worked for me on a Ubuntu VM. I think a `postinstall` to do that sequence of commands would help.

[2018-01-06 13:44] diegomura commented on #167
Good catch. I agree. I can address this on a few days or feel free to create a PR for that. I would like to still support ‘align’ and maybe show a warning for compatibility purposes

[2018-01-09 15:08] plainnany commented on #151
Hi, I have this problem too, when I run `yarn example -- resume` ,  I got errors
[code]
Is there any solutions now?
thanks a lot

[2018-01-12 21:15] crubier opened #168 "Use the official react-reconcilier"
When using react-pdf with the latest react version 16.2, I end up with this error:

[code]

I think this project should use the official react-reconcilier

https://github.com/facebook/react/tree/master/packages/react-reconciler

[2018-01-14 22:42] diegomura commented on #168
Yes! Thanks. It’s been awhile I want to do this. I will be adressing this very soon

[2018-01-17 18:41] #144 closed

[2018-01-17 19:05] diegomura commented on #151
@SPAHI4 @plainnany can you test again?

[2018-01-17 22:17] #168 closed

[2018-01-18 02:13] #163 closed

[2018-01-18 02:14] #162 closed

[2018-01-18 02:14] #151 closed

[2018-01-18 02:15] #101 closed

[2018-01-18 02:37] #167 closed

[2018-01-26 14:14] YozhikM opened #179 "The problem with styles and the wrap"
Hey. I use user content to fill in the pages. The pages are not created and not wrapped on their own, so I tried it in a new `page-wrapping` branch. In it, too, there is a problem: a part of the blocks-components literally eaten and disappear, and the layout becomes incorrect.

I use not Text, but also View.

[2018-01-26 17:30] diegomura commented on #179
Hey @YozhikM. Can you provide an example of the type of layout you are having problems with?
The branch `page-wrapping` is experimental yet. There are many use cases already covered, but maybe yours not

[2018-01-26 20:14] flaurida opened #180 "Clarifying question: Can I render a PDF in browser yet?"
Super excited about this project - is it possible to render the PDF in the browser yet? I can't tell from the README. Thanks!

Sincerely,
Laura

[2018-01-26 20:27] diegomura commented on #180
Hi! Thanks for show interest in the project.
Yes, it's technically possible. Check out: https://github.com/diegomura/react-pdf/tree/master/examples/dom-bindings

There are things to polish however (bundle size, for instance) but you should be able to run that project without any problem.

If something appears, please submit the result here and we can discuss it. For the moment, I'll close this iss

[2018-01-26 20:27] #180 closed

[2018-01-26 20:31] flaurida commented on #180
Thanks so much for the quick response! I think I am close, except for that I keep getting this error:

[code]

I added
[code]

to `node` in my webpack config file. Any ideas for what it could be?

Sincerely,
Laura

[2018-01-26 20:35] diegomura commented on #180
Maybe is because of this fix: https://github.com/diegomura/react-pdf/blob/master/examples/dom-bindings/webpack.config.js#L19

For the moment at least, you need to define the transform-loader to process some dependencies

[2018-01-26 20:38] flaurida commented on #180
Yes, I am including the following in my webpack as well

[code]

Would I need to do something else?

[2018-01-26 20:42] diegomura commented on #180
No. That should be all. Can you please check if the `dom-bindings` project runs well for you?

[2018-01-26 20:42] flaurida commented on #180
Hi Diego,

Yes, the project runs well for me! I now just need to somehow port that over to my own project.

Sincerely,
Laura

[2018-01-26 20:48] diegomura commented on #180
🤔 very interesting. please check that you are running the lastest version of react-pdf, and that you are using the `dom` bindings of it.
otherwise I'm not sure how I can help you. I can review the code if you give me access when I have some time haha

[2018-01-26 20:50] flaurida commented on #180
What exactly do you mean by using the `dom` bindings? Just want to make sure I do what I can, thanks again! Have a nice weekend 😊

[2018-01-26 21:00] diegomura commented on #180
That you are installing `@react-pdf/dom` as well with @react-pdf/core`
Have a nice weekend also and ping me in case I can help you on setting up your project!

[2018-01-26 21:01] flaurida commented on #180
Oh, I was not installing `@react-pdf/dom`, do I import that as well, or just install? Thanks again!! I may take you up on that offer ;)

In addition, here is the error I get, but if I remove `unicode` from the loader in webpack this error goes away

[code]

[2018-01-26 21:03] diegomura commented on #180
You should install `@react-pdf/dom` to use it on the web! Please review how that's done in the example and maybe you will fix your build issues.

Oh. I never saw that error before. I would recommend setting up everything just like the example

[2018-01-26 21:06] flaurida commented on #180
Yes, I installed it now, but am still seeing the issue about ```index.js:10 Uncaught (in promise) TypeError: fs.readFileSync is not a function```. I will keep playing with it, thank you again for your help.

[2018-01-28 18:22] flaurida commented on #180
Hi Diego,

I tried installing again from scratch using exactly the example steps and copying the example files into my project, and am still encountering the following error:

[code]

Any ideas? I don't know if It has to do with `unicode-properties` or `fontkit`. Thanks again! 😊

[2018-01-28 18:26] flaurida commented on #180
I think it may also have to do with conflicting somehow with lodash unicode methods, because if I don't remove `unicode` from the webpack rule, then I get the following error:

[code]

Perhaps there is a different regex in the rule that would still load the relevant files but not mess with lodash? Thanks again!

Sincerely,
Laura

[2018-01-28 18:39] flaurida commented on #180
Another update! Using the following rule in webpack works for me, as it does not match other files with the word `unicode`:

[code]

Now I am getting close! I am now seeing just a square empty box, with the console warning:
[code]

Any ideas? Thanks so much again! 🎉

[2018-01-29 02:24] diegomura commented on #180
Are you using an iframe just like the example? It’s hard to know why you are getting that without seeing the code. It seems you are trying to download the document somehow but not sure

[2018-01-29 15:59] flaurida commented on #180
Yes, the `iframe` is being used in the DOM. I tried to follow the example as closely as possible. After restarting chrome, the PDF seems to work. Hope it stays that way! Thanks again!

[2018-01-29 16:19] diegomura commented on #180
Awesome! Thanks

[2018-01-29 17:28] flaurida commented on #180
Last question - is it possible to directly link to the `.pdf` file? For example, if we wanted to have a button to secure fax a PDF made with react-pdf? Thanks so much again!

[2018-01-29 17:48] diegomura commented on #180
Not sure what you meant. Like pointing to a pdf file? (ex. `http://myserver.com/file.pdf`?)
React-pdf just handles the creation of the file. If you then want to reference it in some way like that, or you will have to save the file on your server and generate the url, or to expect that url and create the document each time

[2018-01-29 17:49] flaurida commented on #180
Yes, is it possible to render the PDF on the server is my question. Sorry for the confusion!

[2018-01-29 17:53] diegomura commented on #180
Yes it is! You need to use the `@react-pdf/node` bindings for that. You will find any of the examples useful. You can save the file, or create a buffer that you can then use in your response.

[2018-01-29 17:55] flaurida commented on #180
Cool, so I can send the generated PDF as the response??

[2018-01-29 17:57] diegomura commented on #180
You should be able to do it, yes. As you would do with any other type of file (images, etc)

[2018-01-29 17:58] flaurida commented on #180
thanks!!!

[2018-01-29 18:03] flaurida commented on #180
Is there an example of creating a buffer somewhere? If not, no worries!

[2018-01-29 18:43] diegomura commented on #180
You can do
[code]

That should return the buffer you want

[2018-01-29 18:44] flaurida commented on #180
thanks so much Diego 🎉 😄

[2018-01-29 19:08] flaurida commented on #180
[code]

[2018-01-29 19:08] flaurida commented on #180
Hi Diego, I thought this would work? However, I am getting the error: `TypeError: Cannot read property 'createElement' of undefined`. Is there somewhere else I need to import React to make it work?

[2018-01-29 19:33] flaurida commented on #180
Never mind, fixed it. Feel very close! Just how do I send it with express is the final piece:

[code]

Thank you SO MUCH again for your patience.

[2018-01-29 19:57] flaurida commented on #180
Note that it does not appear the result of `renderToStream` is a buffer

[code]

[2018-01-29 20:16] flaurida commented on #180
Note, there are also circular references in the returned stream, which causes the following error:
`(node:1569) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Converting circular structure to JSON`

[2018-01-30 06:03] georgiosd commented on #151
I'm getting this :(

[code]

[2018-01-30 16:38] diegomura commented on #180
About the `isBuffer`, I will have to see why that's happening. But it's actually a buffer right?
I'm doing some test on the code I share to you and I didn't have any error like the one you shared. Is it too much to ask if you can build an code snippet where if fails and share it?

[2018-01-30 20:40] flaurida opened #181 "Can I render an image with a relative path?"
Hi React PDF,

Still plugging along, is it possible to render an image that is stored in the project? I try relative paths and get `invalid URI` errors:

[code]

Thanks!

Sincerely,
Laura

[2018-01-30 21:59] bkoltai opened #182 "Attempting to call `parentInstance.removeChild` when `parentInstance.removeChild` is not defined"
I'm using `@react-pdf/dom` and am showing the PDF iframe in a modal when the user clicks a button. When I unmount the modal, I'm getting the following error

[code]

I've modified the `dom-bindings` example to demonstrate this issue [here](https://github.com/bkoltai/react-pdf/tree/broken-dom-unmounting).

You can reproduce the error by cloning the repo and running the `dom-bindings` example as nor

[2018-01-30 22:07] bkoltai commented on #182
I've followed the code to the best of my ability and I think the issue is that the render ultimately calls `removeChildFromContainer` with a `parentContainer` as an instance of `PDFDocument`.

I believe the fix is to simply check that the `parentInstance.removeChild` function exists before calling it, though admittedly, I'd don't fully understand the implications of that.

It may cause the `PDFDoc

[2018-01-31 00:23] diegomura commented on #182
I don't think that change would have negative implications in any situation (after all, you should never called `undefined` as a function). Thanks for the PR!

[2018-01-31 00:23] #182 closed

[2018-01-31 14:13] flaurida opened #184 "Custom Font Loading Issue on Second+ Attempt"
Hi React PDF,

Still love this project! I am loading in custom fonts, and on my first time viewing the PDF it works, however, if I try to open the file again, I get an error relating to my custom font:
`UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 9): Error: ENOENT: no such file or directory, open 'Basetica'`.

This is how I am loading the font, above the stylesheet

[2018-01-31 16:02] diegomura commented on #184
Hi @flaurida !
Have some questions here:

- Before going to the actual issue, why are you loading twice the same font? I would strongly recommend not to do so.

- Then, when you load for the second time, is it from the same file as the first time? or files inside the same hierarchy inside your project?  I'm wondering if `__dirname` can be different the second time and node actually not being able

[2018-01-31 16:07] diegomura commented on #181
Yes! You can. Please check how it's being done here:

https://github.com/diegomura/react-pdf/blob/75032fc8277600f6534b1e39cee640b4c01f56a6/packages/react-pdf/specs/imageSpec.js#L35

You just have to pass an object `{ data: imageData, format: 'png' }` to the `Image` source, being `imageData` a buffer

[2018-01-31 16:07] #181 closed

[2018-02-01 13:48] YadavSudhakar opened #185 "Hi, i have Problem ,When I run the, yarn example -- fractals,i got this issues"
TypeError: {} is not a function
    at D:\recatPrinter\react-pdf\packages\react-pdf\node_modules\yoga-layout\build\Release\nbind.js:25:22
    at initAsm (D:\recatPrinter\react-pdf\packages\react-pdf\node_modules\nbind\dist\nbind.js:128:33)
    at D:\recatPrinter\react-pdf\packages\react-pdf\node_modules\nbind\dist\nbind.js:112:13
    at findCompiledModule (D:\recatPrinter\react-pdf\packages\react-

[2018-02-01 14:11] flaurida commented on #184
Hi @diegomura thanks again for helping! I think the issue is I am loading the font in my server endpoint, so every time it is hit the font loads. I solved it for now by clearing the fonts in the endpoint, but wonder if there isn't a single place in the app that will run the code to load the fonts once and that is it.

[2018-02-01 14:16] flaurida commented on #181
Hi Diego,

Thanks so much!!! I think I then need to configure webpack so I don't get this error: `TypeError: Cannot read property 'readFileSync' of undefined`, however will try to do so. Have a great rest of your week 😊

[2018-02-01 14:26] diegomura commented on #184
Thanks for replying!
Very interesting. To be honest I never did something like that, just some small tests.
What if you put the `Font.register` call outside your endpoint's callback?

[2018-02-01 14:27] flaurida commented on #184
I will try it, just need to figure out exactly where first! Will keep you posted 😊

[2018-02-01 14:28] flaurida commented on #181
Ah, the issue is I am not sure how to load the image as a buffer on the client. At least the URL works for now and can keep playing with it.

[2018-02-01 19:30] dprosper commented on #185
Same issue here as well.

[2018-02-01 19:33] dprosper opened #186 "404 adding module"
**OS:** Tried on Mac and Windows

**React-pdf version:** latest

**Description:** 404 when performing a yarn add @react-pdf/core

**How to replicate issue (if applies):**
1. create-react-app <appName>
2. cd <appName>
3. yarn add `@react-pdf/core`

$ yarn add @react-pdf/core
yarn add v1.3.2
[1/4] Resolving packages...
error An unexpected error occurred: "https://registry.npmjs.com/@react-pdf%2fcore

[2018-02-03 18:37] diegomura opened #189 "Ignore margin styles in Page element"
**OS:** Any

**React-pdf version:** Latest

**Description:** Page element should not have margin styles. Margin values should be ignored and show a warning informing this issue

[2018-02-03 19:12] diegomura commented on #140
Initial set of properties to do cascading styles:

- color
- font-family
- font-size
- font-style
- font-weight
- letter-spacing _(not implemented)_
- line-height _(not implemented)_
- text-align
- visibility _(not implemented)_
- word-spacing _(not implemented)_

[2018-02-03 19:44] #189 closed

[2018-02-03 19:48] diegomura commented on #186
I just follow those steps and everything went well 🤔
Are you sure this is not an issue in your end? Maybe your network cannot access to `registry.npmjs.com` for some connectivity issue?
Just take in consideration that dom-bindings usage requires a special webpack config (in case you want to use create-react-app)
Closing this issue for the moment

[2018-02-03 19:48] #186 closed

[2018-02-03 19:49] diegomura commented on #185
OS? Windows?

[2018-02-03 19:50] diegomura commented on #184
Thanks @flaurida !
Going to close this for the moment, unless you find something that can be fixed on my end. Please submit updates here anyway!

[2018-02-03 19:50] #184 closed

[2018-02-03 19:51] #3 closed

[2018-02-03 19:55] #47 closed

[2018-02-03 20:01] diegomura commented on #120
@CentaurWarchief @jbovenschen still up to this idea?

[2018-02-03 20:13] CentaurWarchief commented on #120
heyo @diegomura — I think it's a nice idea, but unfortunately I still don't have time to work into it. You can close and set a label so we can find and reopen in the future.

Thanks for pinging!

[2018-02-03 20:17] diegomura commented on #129
You need to use the dom-bindings to run this lib on the web. You can check the `dom-bindings` example to see how to configure webpack and make it work. Going to close this for the moment

[2018-02-03 20:17] #129 closed

[2018-02-03 20:21] diegomura commented on #148
Closing this due to inactivity

[2018-02-03 20:21] #148 closed

[2018-02-03 20:26] diegomura commented on #165
Sorry I didn't respond sooner. Is this still happening?
This is very hard to debug, and I'll need to set up or an AWS machine, or figure out something else.
However, there are points that I think more probably to be the cause of this:

- Yoga: maybe we are missing to free some memory
- FIle I/O

[2018-02-03 20:31] diegomura commented on #164
Now you can do this by creating inline texts. The only thing to take into account is that provide the fonts for each particular style you want to apply. If you want to use the built-in fonts, you should also change the font-family to each particular part of the text. These are:

'Courier',
  'Courier-Bold',
  'Courier-Oblique',
  'Courier-BoldOblique',
  'Helvetica',
  'Helvetica-Bold',
  'Helveti

[2018-02-03 20:31] #164 closed

[2018-02-03 21:56] #140 closed

[2018-02-05 13:46] dprosper commented on #185
Seems to be Windows only, this works on Mac OS.

[2018-02-05 15:17] #149 closed

[2018-02-06 03:17] cauu commented on #185
Ubuntu has similar problem:
TypeError: (intermediate value) is not a function
    at /home/nb09/Dev/test/react-pdf/packages/react-pdf/node_modules/yoga-layout/build/Release/nbind.js:25:22
    at initAsm (/home/nb09/Dev/test/react-pdf/packages/react-pdf/node_modules/nbind/dist/nbind.js:128:33)
    at /home/nb09/Dev/test/react-pdf/packages/react-pdf/node_modules/nbind/dist/nbind.js:112:13
    at fin

[2018-02-06 19:28] rogierslag opened #193 "Fontkit dependency?"
In https://github.com/diegomura/react-pdf/compare/v0.5.1...v0.6.0 fontkit was removed as a dependency. However it seems required to properly load fonts into react-pdf with `Font.register`. Without fontkit the fonts are not loaded and the PDF is not rendered. A simple `yarn add fontkit` in out project fixed it though.

I could not find why it was removed, while it is still part of the webpack loade

[2018-02-06 23:00] diegomura commented on #193
Thanks! You are right. It should be there

[2018-02-06 23:00] #193 closed

[2018-02-07 15:53] diegomura commented on #184
@flaurida I think you will find this very interesting 👆 😄

[2018-02-07 16:01] diegomura commented on #185
Thanks for reporting it. unfortunately I don't have either an Ubuntu or Windows env set up. I'll try to tackle this soon, but can take awhile. If any of you wants to help to figure out what's going on, help is more than welcome!

[2018-02-07 17:10] flaurida commented on #184
Awesome thank you so much!!

[2018-02-09 00:05] diegomura opened #196 "Warning when `styles` is passed instead of `style`"
**OS:**
Any

**React-pdf version:**
Latest

**Description:**
We should display a warning when a prop `styles` is passed instead of `style`

**How to replicate issue (if applies):**
Pass a `style` prop and see the warning in the console

[2018-02-09 18:06] stevenquiroa commented on #180
I had the same issue as @flaurida, but I found this workaround that works for me in the meantime:

`const makePDFHandler = async (req, res) => {
  const doc = path.resolve('build', 'pdf', 'generated.pdf');
  await ReactPDF.render(<MyDocument />, doc);
  res.status(200).download(doc, 'propiedad.pdf');
};`

[2018-02-09 19:26] YozhikM commented on #179
The problem was solved in the master after the last PR. Thank you

[2018-02-09 19:27] #179 closed

[2018-02-09 20:00] diegomura commented on #179
Awesome! Good to know. Thank you

[2018-02-10 23:56] rogierslag commented on #180
We built a custom react-pdf server based on this repo. It’s humming in production by now and generating thousands of files per day :)

I dont think it is exactly what you need, but the code might help you how to tackle the dynamic generation using express: https://github.com/inventid/pedeffy/blob/master/src/index.js

[2018-02-11 11:09] rogierslag commented on #196
I thought this was unnecessary but as it turned out I spend 40 minutes cursing on flexbox until I realized I did exactly this.

[2018-02-11 20:42] rogierslag commented on #165
Seems like it definitely is:

<img width="1243" alt="screenshot 2018-02-11 21 41 16" src="https://user-images.githubusercontent.com/2778689/36078252-5add4c68-0f74-11e8-8fce-abf7de251757.png">

After 35 renders I have 35 PDFDocument instances in memory, responsible for 85% of the memory in use by the service.

I think there is a problem in yoga which is called from `measureText` in `Text.js`

[2018-02-11 21:10] rogierslag commented on #165
I tried ading the master branch of yoga-layout to the project and retesting it with that one, but that produces a very identical result.

We have now "solved" the issue by letting `pm2` issue restarts, but of course that is not the best way to go

[2018-02-11 21:14] #196 closed

[2018-02-11 21:22] diegomura commented on #165
🤔 Interesting.
Maybe if we call `layout.destroy()` on each node (or in the upper node) after the document is closed? Maybe that will free that memory

[2018-02-12 06:12] VrajSolanki commented on #165
@diegomura  yes File I/O, and yoga both were leaking memory for me and I used a precompiled version, and also closed the open filestream objects.
It did fix memory leakage for me but as @rogierslag pointed out it does keep pdfs in memory and thats what takes a major part.

@rogierslag Funny, thats how I too tried to solve the issue.

[2018-02-12 08:15] jbovenschen commented on #165
The memory leak exists in pdfkit, see https://github.com/devongovett/pdfkit/issues/728. There is an open PR in pdfkit to fix this, but is not merged.

[2018-02-12 20:08] styfle opened #198 "Question: dependencies"
The `dependencies` show jest and learna.

https://github.com/diegomura/react-pdf/blob/master/package.json#L13

Are these required at runtime or can these be moved to `devDependencies`?

[2018-02-12 20:18] diegomura commented on #198
I think they can. I don't think it really matters because this is a Lerna project and that package.json does not belong to any npm package in particular. But I don't think there's going to be any damage if we move them to `devDependencies`

[2018-02-12 20:40] styfle commented on #198
I see now.
I was curious which dependencies this package relies on.
I think the file I'm for is [react-pdf/package.json](https://github.com/diegomura/react-pdf/blob/master/packages/react-pdf/package.json) which matches [npm](https://www.npmjs.com/package/@react-pdf/core).

Here's a visualization of all the dependencies for anyone who is curious:

http://npm.anvaka.com/#/view/2d/%2540react-pdf%252F

[2018-02-12 20:40] #198 closed

[2018-02-14 16:46] rbansalrahul6 commented on #34
Hi, I recently started working in react native and was looking for a PDF rendering library for it. Somehow I landed here. I really want to contribute for this feature. Can you please guide me on how to proceed since I am also a beginner in open source?

[2018-02-14 16:58] diegomura commented on #34
Hi @rbansalrahul6 !
Thanks for reaching out!

So this feature is basically creating some bindings to show pdf's using react-native and react-pdf.
This project is divieded into several npm packages. You can find them under `/packages`. `react-pdf` package has all the shared logic for pdf creation, and then we have one package for each platform we want to support. `react-pdf` basically returns a buf

[2018-02-14 17:20] rbansalrahul6 commented on #34
Thanks for guiding me. I'll try to follow it. Can you tell me the currently available libraries for rendering PDF in react native. I couldn't find any good one.

[2018-02-14 17:46] diegomura commented on #34
Oh. I actually don't know anyone. But I see there are some that does that. Part of the work is searching for that, or build it from scratch haha.
We are using `pdfkit` for the PDF creation

[2018-02-14 20:06] diegomura commented on #34
Here you have one that seems nice: https://github.com/wonday/react-native-pdf
We would have to test it though. As you can see on the bottom of the README, it supports passing by a base64 document as parameter

[2018-02-15 05:46] rbansalrahul6 commented on #34
I think [https://github.com/wonday/react-native-pdf](url) is for viewing PDFs, not for rendering them

[2018-02-15 05:59] diegomura commented on #34
Yes. It is. But we can use `react-pdf` to create the pdf (in base 64 format for example) and then use `react-native-pdf` to show it. right? It's just an idea. I'm open to any other solution

[2018-02-15 07:32] bansal-rahul commented on #34
Ok. I'll look into it

[2018-02-15 07:36] rbansalrahul6 commented on #34
Ok. I'll look into it and let you know if something works

[2018-02-19 17:23] ottosichert opened #199 "Re-rendering PDF fails on commitTextUpdate"
**OS:**

all

**React-pdf version:**

latest, v0.7.1, c900af77fbf3c8cf682683c823387fd2af5f37e3

**Description:**

- Render any PDF, e.g. with
[code]
- Update props of any `<Text>` element
- Re-render PDF
- **=> crashes**

<details>
<summary>Stacktrace</summary>

[code]
</details>

<br />

**How to replicate issue (if applies):**

see above

[2018-02-19 17:42] ottosichert commented on #199
**Update:** Looks like this typo does not fix this error (see stacktrace `TypeError: Cannot create property 'children' on string '<updated string>'`)

[2018-02-19 20:23] bkoltai opened #201 "Outdated yoga-layout version doesn't minify"
**OS:**
Mac

**React-pdf version:**
0.7.1

**Description:**
Since upgrading to 0.7.1, my builds have failed because the 1.6.0 version of yoga-layout fails to minify during a create-react-app production build.

[code]

**How to replicate issue (if applies):**
(untested): Include react-pdf/cor and react-pdf/dom in a CRA app and try to run the build task.

[2018-02-19 20:24] bkoltai commented on #201
Upgrading the version of yoga-layout to the latest (1.9.3) seems to resolve the error for me

[2018-02-20 10:01] semiautomatix commented on #151
Still not fixed - will have to move to generation on the server

[2018-02-20 10:03] semiautomatix commented on #151
yarn add @react-pdf/core @react-pdf/node @react-pdf/dom
yarn add v1.3.2
$ npm run npmcheckversion

[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...
info fsevents@1.1.3: The platform "win32" is incompatible with this module.
info "fsevents@1.1.3" is an optional dependency and failed compatibility check. Excluding it from installation.
[4/5] Linking dependencie

[2018-02-20 13:24] rogierslag commented on #151
This is not specific to react-pdf, but there is [an open issue in yoga-layout](https://github.com/facebook/yoga/issues/411)

You can try the Linux subsystem for Windows

[2018-02-20 18:17] #199 closed

[2018-02-21 14:58] rclai opened #203 "CPU pegged at 100% when rendering out of bounds of page"
**OS**
MAC OSX and Ubuntu 16.04

**React-pdf version:**
0.5.1

**Description:**
Ran into an issue where rendering too many columns would cause the CPU to get stuck at 100% and ultimately not render the PDF because the last column had text that had super long spaces and was way off to the right of the page.

**How to replicate issue (if applies):**
You can replicate by creating a Flexbox that has a

[2018-02-21 15:15] diegomura commented on #203
@rclai can you provide a code snippet?

[2018-02-21 17:29] rclai commented on #203
Hopefully this reproduces it it.

[code]

[2018-02-21 19:13] bkoltai commented on #203
I'm pretty sure I've run into this issue as well. I believe I tracked it down to an infinite loop [here](https://github.com/devongovett/pdfkit/blob/master/lib/line_wrapper.coffee#L78) (in pdfkit)

[2018-02-22 02:07] #201 closed

[2018-02-27 03:31] diegomura commented on #139
@jmjpro I don't see how the `@page` css property should work for the `Page` component. `@page` is used to define how an html document should be printed right? In PDFs, what you print is what you have.

However, I do see great benefit on supporting `@media` of components in general.

Please let me know if there's something I'm missing

[2018-02-27 07:52] jbovenschen commented on #139
Could it beneficial to support a `onLayout` property like react-native does for `View`, so you could derive the width calculated by `yoga-layout`. If that works you could create your own abstractions for `@media` and `@page`.

The hard part will be the node renderer, which should wait until the page is fully rendered.

[2018-02-27 13:44] diegomura commented on #139
I still don't see what we can do with `@page` 😅 .
`onLayout` would definitely be a cool feature, but do we need it to support `@media`? From what I can see so far, if we can somehow pass page attributes (width, height and orientation at least) down to the `Stylesheet` declaration (in layouting time), we can infer specific styles for a component using media-queries.

Last night I started this proje

[2018-02-27 14:01] jbovenschen commented on #139
If we wan't to support the @media in the StyleSheet declarations, we don't need onLayout. We can just derive the "viewport" from the Page instance.

[2018-02-27 14:27] diegomura commented on #139
Exactly. That's why I'm building that "media-queries engine". With that, it should be pretty straightforward.
I still don't see how `@page` (which as far as I know are styles for printing) can have any relevance in the project.

[2018-02-27 18:21] jbovenschen commented on #139
I neither see any need for the @page at this moment we should be ok, to just support @media and onLayout at this moment? Should I try to get onLayout implemented correctly.

[2018-02-27 18:26] diegomura commented on #139
That would be great.
I'm not sure yet how the media-query API will work yet. Im not a big fan of defining object keys as strings (`{ '@media(whatever)': { styles }`). At least not as a public API.

Any ideas?

[2018-02-27 18:49] jbovenschen commented on #139
Could maybe support nested values within `Stylesheet.create` thing is we should document it after we finish the documentation site. You could take a look within glamorous how it would look like.

[2018-02-28 14:31] diegomura commented on #139
The media-queries engine first version is ready! It supports `and` and `,` (or) operators and enable you to query for max and min height|width, and page orientation. For the moment I think is more than enough. I still have to upload the npm package (any naming ideas?) and integrate it into react-pdf. I'm pretty excited with this feature. It seems to me it is one of those things that react-pdf can

[2018-03-01 16:28] flaurida opened #206 "Issue with flexbox under page with wrap"
Hi React PDF,

I am noticing some issues with flexbox after applying the `wrap` flag to the parent page. For example, I cannot get a component to wrap in a flex row. What happens visually is the second nested component (in this case the red box) simply disappears. The component below is a simple example:

[code]

And I try to render it like so:
[code]

Please let me know how to fix this? Thanks!

[2018-03-01 16:34] flaurida commented on #206
Note that I am also happy to pursue an alternate solution, as long as I can get two columns. Please let me know!

[2018-03-01 19:06] flaurida commented on #206
Isolating this issue, it is generally when there are nested elements with flex display.

[2018-03-01 19:34] flaurida commented on #206
I am also having issues where the content is overflowing the page a bit, even after adding padding to the container `View`. Thanks again for all the help!

[2018-03-01 20:11] flaurida commented on #206
Update - I realized I needed to add the padding to the page itself. My last major issues are nested flex and the fact that extra pages are rendered at the end. Thanks so much for the help!

[2018-03-01 21:40] flaurida commented on #206
Unrelated, but does the `lineHeight` property work on `Text` elements?

[2018-03-01 21:41] diegomura commented on #206
No. It's not supported yet

[2018-03-02 00:58] #139 closed

[2018-03-02 15:32] flaurida commented on #206
OK, no worries. My biggest question now is how to remove the extra 1-2 pages I am seeing. Thanks so much again Diego. The flex stuff works OK so long as I use percentage widths and don't use more than two children elements.

[2018-03-02 16:16] diegomura commented on #206
Currently I don’t think there is any way of removing those while using the wrap feature with 2 columns. It’s just not the way it’s working right now. Sorry.
There is an ongoing effort of changin the text layout algorithm, which will have impact on the wrapping feature as well

[2018-03-02 16:21] flaurida commented on #206
No worries - I really appreciate all you've done, and if I can help with some stuff please let me know. Will keep updating the library as well :) Thanks again and have a great weekend 🎉

[2018-03-03 15:08] rclai commented on #203
@bkoltai thanks for that info.

[2018-03-06 16:33] flaurida commented on #206
Quick question - when do you think will be possible to do page numbers, even if it is just `Page 1` not `Page 1 of 4`? Thanks again so much, this is looking awesome 🔥 💯

[2018-03-06 21:22] diegomura commented on #206
Yes. It would. [Here](https://github.com/diegomura/react-pdf/pull/166) I shared with you the API I would like to see, but not sure if it's possible. Would you like to tackle this?

[2018-03-08 20:25] bkoltai opened #208 "Unable to use `Document` `title` prop for filename of saved PDF"
I am using react-pdf to generate PDF files directly on the client to avoid unnecessary network requests. I am using `@react-pdf/dom` and the PDFs are rendered successfully in an `iframe`. However, I want my users to be able to download the PDF and I want to be able to specify the name of the file when it is downloaded. I couldn't figure out how to setup the PDF such that when they click the downlo

[2018-03-08 22:31] diegomura commented on #208
Hi!
I agree that the `dom-bindings` are a bit primitives and don't fit most use cases.

These past days I was working on react-pdf landing page and I had a similar problem myself. I ended up doing something like you did, and using the homonymous [react-pdf library](https://github.com/wojtekmaj/react-pdf) for rendering the document. You can see it in action [here](http://react-pdf.diegomura.com/rep

[2018-03-08 22:35] diegomura commented on #208
Btw, You can find the page code in [here](https://github.com/react-pdf/site). It's also open source 😄

[2018-03-09 10:51] jacobp100 opened #209 "Project scope"
Hey, I just saw this project - really cool! I'm doing really similar things over at [react-image-export](https://github.com/jacobp100/react-image-export). It's early stages, but I'm working on SVG and canvas export (among React Native specific stuff).

We're both using Yoga, have very similar components and styling. Your reconciler is really cool - I definitely want to do something like this.

Do

[2018-03-09 21:52] bkoltai commented on #208
Cool, thanks for sharing that code! In my case, I would actually just want to have access to the URL of the blob, so the API you proposed might not provide what I would need.

For now, I might just copy what you did with the `core` primitives to generate the URL and work with it directly.

[2018-03-12 17:09] crubier commented on #206
Hi, thanks for the good work, however this bug (which you are talking about on top of this page) is totally blocking us !

We want to display some kind of tables using flexbox, but we are seeing wildly incorrect results, it's so bad it's even fun !

# Example

So here is a simple example. We use these styles:

[code]

## Case 1 (empty table)

Now here is an example of an empty table:

[code]

The

[2018-03-12 18:50] diegomura commented on #206
Thanks for reporting it and for the extensive research @crubier !
I was looking at your snippets and you are right, this  error seems to be with the `wrap` prop. You can see how it shows up when that prop is gone in [here](localhost:8080/repl?code=3187b0760ce02e004d09e01b02984605e18194a4e5600b6592803a6002764043299002806f00a06180076a0736402e1918c006628007801100965581449e1f8022508802b805b308a00d076a

[2018-03-19 11:13] Neo478 opened #210 "fs.readFileSync is not a function"
**OS:**
Ubuntu 17

**React-pdf version:**
0.7.5

**Description:**
When using the readme snippet, Webpack raised errors about "fs", "net" and "tls".
Adding
`node: {
    fs: 'empty',
    net: 'empty',
    tls: 'empty',
  },`
In webpack config fixes the raised error. But Chrome console raised another one: "fs.readFileSync is not a function"
This can be related to the os or Browserify/Webpack.

[2018-03-20 16:05] rpanczer commented on #210
I am getting the same error..

[2018-03-20 19:34] rogierslag commented on #210
Probably you are using the `node` instead of the browser package?

[2018-03-21 15:13] diegomura commented on #210
@Neo478 you  will need to use the `transform-loader` temporarily since we fix `pdfkit`. Are you setting up you webpack config that way? Adding the `node` config is not enough.

I'll recommend you to take a look at how the [REPL project is set up](https://github.com/react-pdf/site/blob/master/webpack.config.js)

[2018-03-21 15:21] diegomura commented on #209
Hey @jacobp100 !
It's great you are interested in renderers.
I don't truly see the overlap in here, rather than they both use Yoga. To be honest, I don't see myself breaking this project into more packages for the moment. Not unless it gets mandatory for some reason in the future. But I'm more than happy to help in anything you might need.

[2018-03-21 15:21] #209 closed

[2018-03-21 20:21] rexkenley opened #211 "Installation Issue"
OS: windows 10
React-pdf version: 0.7.5
Description:  I get the error below when I do

"yarn add @react-pdf/core"

error An unexpected error occurred: "C:\\Code\\kenleyr\\Projects\\JavaScript\\DaveyJS3\
ode_modules\\yoga-layout: Command failed.
Exit code: 1
Command: C:\\WINDOWS\\system32\\cmd.exe
Arguments: /d /s /c npm run build:node
Directory: C:\\Code\\kenleyr\\Projects\\JavaScript\\DaveyJS3\
o

[2018-03-22 14:15] crubier opened #212 "Implement Goto links ( ref links )"
Hi, I saw that pdf kit supports setting « goto » références and inks to these references. This feature would be very useful for react pdf. The lack of this feature is actually quite blocking for us at the moment. Thank you very much for the good work !

[2018-03-22 14:56] diegomura commented on #212
Hi @crubier !
Thanks for reporting this.
I think this is not a huge feature, and I might be able to work on it in these days. I imagine something like this:

[code]

What do you think?
This API enables us to extend this functionality in the future if we want to.
Let me know your thoughts!

[2018-03-22 15:34] crubier commented on #212
I think we need to have something a bit closer to the pdf kit api, which allows to add names anchors (or refs) in the document, and add links to these refs. This allows to provide links to precise elements whose page might be unknown (due to page wrap for example)

[2018-03-22 15:35] mike-down commented on #212
Hi @diegomura
thank you for the quick respond
I think it will be more simple and natural. like this :
[code]
if `src` is a number then we can say it's a page number.

[2018-03-22 15:52] diegomura commented on #212
Good point @crubier . I didn't know that pdfkit enables you to do that.
Either way, accepting an object as `src` will enable to link to a page number (maybe we should call it `pageNumber` instead of  just `page`), or a particular `ref` inside the document.
Implementing refs might be a bit more difficult (all depends on what pdfkit already does) than just linking to a page number.

@mike-down I don

[2018-03-22 18:10] diegomura commented on #212
I was looking at `pdfkit` code, and I couldn't find any hint that linking by ref internally is doable: https://github.com/devongovett/pdfkit/blob/master/lib/mixins/annotations.coffee#L28

It seems to me that we can link to a page number, or a URI. Am I missing something @crubier ?

[2018-03-22 20:25] flaurida opened #213 "Cannot render image stored on Google Cloud Storage"
Hi Diego! How are you? I am sorry for being MIA for a bit, a lot going on here.

Anyway, I am trying to render an image in React PDF that is stored on Google Cloud Storage. The image link looks something like:
[code]

When I try to use an image tag linking to this image, I get the following error:
[code]

Any ideas for what to do? Thanks!

Sincerely,
Laura

[2018-03-22 22:47] diegomura commented on #213
Hi!
Yes. Yesterday I merge a fix for this. I’ll release a new version tomorrow maybe. I’ll let you know, and you can test if that got solved. Sounds good?

[2018-03-23 06:11] #94 closed

[2018-03-23 06:14] diegomura commented on #211
May be related to #185
I don't have a Windows machine to test. I've been trying to find the time to setup a windows VM to test the lib, but I couldn't yet. Some help in here would be very welcomed. Are you open to contribute somehow with the fixes needed for Windows?

[2018-03-23 06:17] diegomura commented on #203
I've also run into this. Closing this in favor of `pdfkit` issue

[2018-03-23 06:17] #203 closed

[2018-03-23 06:26] diegomura commented on #213
Done @flaurida . `0.7.6` published. Please try with this new version and close this issue if everything worked fine 😄

[2018-03-23 13:40] rexkenley commented on #211
Sure.

Send me the instructions and I will see what I can do

[2018-03-23 13:47] flaurida commented on #213
I will try now, thanks for the quick response as always Diego!! 🎉 have a great weekend!

[2018-03-23 14:35] diegomura commented on #213
Great news! Thanks to @YozhikM actually who was the one who fix this!

[2018-03-23 14:35] #213 closed

[2018-03-23 14:43] diegomura commented on #211
It seems to be a [`yoga`](https://github.com/facebook/yoga) issue. Maybe the first test can be creating a new project and installing yoga in there to see if it installs correctly in windows.

[2018-03-23 15:16] rexkenley commented on #211
That was my first thought and I can confirm that you are correct that yoga is the main culprit.

I tried both yarn and npm when trying to install yoga only. I was able to get past the rsync error.
https://itefix.net/cwrsync

But I can't figure out the rest.

'!' is not recognized as an internal or external command,
operable program or batch file.
**rsync: change_dir \"/cygdrive/c/Code/kenleyr/Proj

[2018-03-26 20:15] javierfernandes commented on #212
Hi guys,

I guess that this PR needs to be merged in pdfkit to build some "reactish" support on top of it.
Right ?

https://github.com/devongovett/pdfkit/pull/720

Seems like they call them "named destinations" in pdf (I'm not an expert pdf format :P)

Cheers

[2018-03-28 14:31] rexkenley commented on #211
@diegomura

I tried running the install under git bash. No luck there either.

I tried installing yoga first in git bash, got a little bit further although I had to skip the copy-sources, but still ended up with a TON of build errors.

[2018-03-28 19:18] rclai commented on #206
Yeah, I've been noticing that there are a bunch of pages being appended at the end and my layout has a bunch of columns with rows with columns and so forth.

[2018-04-02 03:40] pedroteixeira commented on #58
Hello, is the source for the repl site open? I couldn't find an example for displaying the PDF on the browser - is that something outside of the current feature set?

thanks! :)

[2018-04-02 04:53] diegomura commented on #58
Hey @pedroteixeira !
Of course it is. It's here: https://github.com/react-pdf/site
Any particular reason you want to see it? 😄

[2018-04-02 13:51] pedroteixeira commented on #58
Great work, Diego!
I wanted to check out which library was used for rendering the pdf on the browser :)

[2018-04-03 05:53] haxxxton commented on #84
Friendly ping to see where you go to with 'on the fly' pdf generation and display. Im not running on a node environment, so being able to generate solely on the front end would be awesomely awesome :)

[2018-04-03 06:38] diegomura commented on #84
Hi @haxxxton!
It’s currently possible both displaying and creating pdf on they fly. React-pdf REPL is a good example of how this can work: http://react-pdf.diegomura.com/repl
There still might be some work to do in order to make it accessible though a nice and clean api, but it’s not that much code you have to write to have something like the REPL running on your project

[2018-04-04 00:08] haxxxton commented on #84
@diegomura
ah awesome!
Is the code for the repl site available anywhere? i cant seem to find it in your repos

I wanted to clarify, that i was asking about a purely front end solution as im not on a node environment. It appears from your example site that it sends some kind of request to the backend that returns the pdf blob to be displayed. Im assuming there is a node server behind that it return

[2018-04-04 00:27] diegomura commented on #84
Yes! The code is here: https://github.com/react-pdf/site

The REPL works completely on the front-end. There is no client-server communications going on in the REPL, at least for the PDF generation. It's just using react-pdf and react-pdf DOM bindings, creates the blob client-side and makes it possible to download.

[2018-04-04 02:42] haxxxton commented on #84
@diegomura
so amazing!

one last question: does it require React 16.x? or can i still run it on React 15.x?

[2018-04-04 04:47] diegomura commented on #84
Good question.
[React 16 is required](https://github.com/diegomura/react-pdf/blob/master/packages/react-pdf/package.json), because react-pdf relays on the fiber reconcilier to work. I never tried it with React 15, so I encourage you to do it and see, but based on what I know and imagine, it won’t work unfortunately.

[2018-04-06 02:34] diegomura commented on #206
I've been working on improving the current wapping algorithm, which is quite poor and as you said here you were having problems with. Also this involves changes and improvements in the way flexbox work. Just wanted to give a heads up. I hope to be able to release this soon as a beta version, so you can try it. Spoiler on how its currently working (just with very ugly Views for the moment, but the

[2018-04-06 02:43] diegomura commented on #206
Another cool feature about this: if a wrapped element suddenly gets alone in his container (imagine the blue box being a bit shorter and ending before the page break), with the correct flexbox properties, it can dynamically adjust, enabling very complex layouts:

<img width="616" alt="screen shot 2018-04-05 at 11 38 49 pm" src="https://user-images.githubusercontent.com/5600341/38401181-b37bb406-39

[2018-04-06 03:51] rclai commented on #206
That is great progress.

Will you be supporting the CSS `page-break-after/before/inside` properties? I feel like being able to achieve those functionalities will get page wrapping in good standing.

[2018-04-06 05:25] diegomura commented on #206
I didn’t though about that. That’s actually a very good idea. It would be great for a second iteration. And you are more than welcome to contribute!. I don’t want to be that ambitious on this one because it’s already a very complex issue to solve. Thanks!!

[2018-04-06 10:37] pedroteixeira commented on #206
Looks impressive!

[2018-04-06 14:44] diegomura commented on #206
Thanks for your feedbacks!
@crubier I get what you say. To solve that I thought about being able to pass a prop to an element that disables wrapping for that element. If that element happens to be at the end of a page, it's going to be rendered completely on the next page. If not present, I think it would be ok to expect the text to break if it's at the end of a page. Otherwise you will have that

[2018-04-12 22:34] vadistic commented on #211
@rexkenley

Temp workaround is to run yarn in bash under WSL (Windows Subsystem for Linux).

1) Install Ubuntu WSL from MS Store
2) Install node (your node modules sync, you don't even need to download/install them again)
`curl -sL https://deb.nodesource.com/setup_9.x | sudo -E bash `
`sudo apt-get install -y nodejs`
3) `bash` & `yarn install` 👌

There's even a config option for VSCode (if you use

[2018-04-18 03:52] TimonSotiropoulos opened #216 "Allow Rendering of Images as base64 strings"
Great package! I am trying to use this to render some graphs that I have converted into base64 png images. Is it possible to get this to work with your Image component? Or is there an easy fix to get this to work?

[2018-04-18 04:16] brandonvilla21 opened #217 "Cannot read property 'ReactCurrentOwner' of undefined"
**OS:** MAC os High Sierra

**React-pdf version:** 0.7.6

**Description:** Chrome console prints: **Uncaught TypeError: Cannot read property 'ReactCurrentOwner' of undefined** after npm start.

Previously, I had the same issue that #210 and #215 but I fixed them by configuring the webpack.config file based on  [this file](https://github.com/react-pdf/site/blob/master/webpack.config.js) but I'm not

[2018-04-18 12:51] ukasyah3008 commented on #210
If you're using `create-react-app` boilerplate, try this steps:

1. Install `transform-loader` by running `npm i transform-loader --save` or `yarn add transform-loader`.
2. Set up your webpack config. You can find it in `./node_modules/react-scripts/config/webpack.config.dev.js`.
[code]

[2018-04-19 14:07] brandonvilla21 commented on #217
When I upgrade my project to v16 I get a mess with more dependencies

I think I'll be looking for other options by now. Thanks.

[2018-04-19 14:07] #217 closed

[2018-04-20 15:47] VrajSolanki commented on #206
@diegomura Amazing way the library has matured! kudos
I have been using it for the similar case with pages having dynamic breaks and columns in rows which makes things break.
I saw you actively working on the textkit branch, right?
just wanted to know if its stable to use?

[2018-04-20 16:09] diegomura commented on #206
Hi @VrajSolanki . Thanks!
Yes. I've been working extensively there lately, and the results so far have been quite good for the use case I need to cover. But it's experimental yet. If you want, you can give this version a shot by installing `0.7.7-1` version of react-pdf packages. Just bare in mind that execution time is a bit slower now (much things going on: page wrapping, line-breaking, hyphenat

[2018-04-20 16:43] audiolion opened #218 "Background Image URL"
**OS:** OSX/Ubuntu 16.04

**React-pdf version:** latest

**Description:** Getting background images for the page

**How to replicate issue including code snippet (if applies):**

[code]

I am trying to have my entire page contain this background image from a url, is this possible with `react-pdf`? I can do it with `pdfkit`

[2018-04-20 16:51] diegomura commented on #218
@audiolion No. Not currently possible.
The only way I can think to make it work is by positioning an absolute image and some elements after. I recommend you give it a try

[2018-04-20 16:53] audiolion commented on #218
I actually checked through `pdfkit`, I dont think `pdfkit` supports this feature actually. I am going to try a few different ways and will report back if I find a solution.

[2018-04-20 16:55] diegomura commented on #218
absolute positioning is not something that `pdfkit` implements, but `react-pdf` does. You can see an example of absolute positioning [here](https://github.com/diegomura/react-pdf/tree/master/examples/knobs)

[2018-04-20 17:06] audiolion commented on #218
Awesome, yep this works to create a background image covering the pdf

[code]

[2018-04-20 17:06] #218 closed

[2018-04-20 17:08] diegomura commented on #218
@audiolion awesome! Glad it worked

[2018-04-23 12:32] diegomura commented on #206
Thanks for the report. Can you upload the snippet that is throwing that error?

[2018-04-23 14:36] windgaucho opened #220 "Using react-pdf with meteor js"
Hello I am trying to use react-pdf package (0.7.6 version) in a meteor js application, using react.js.
I can not use webpack because meteor has its own build tool, so I can not use transform-loader also, there is another solution to use this package inside meteor js app ?

[2018-04-23 15:03] VrajSolanki commented on #206
@diegomura yes sharing the code snippet

`export const createPdf = async (template, data, response, fileName) => {
	const started = new Date();
	try {
		let reactTemplate;
		try {
			reactTemplate = getBaseComponent(PDFCOMPONENTS, template);
		} catch (e) {
			logger(LOGLEVELS.WARN, `Template ${template} does not exist`);
			response.status(404).end();
			return;
		}
			response.set('content-type'

[2018-04-23 15:06] VrajSolanki commented on #206
@diegomura sure but seems difficult to add the entire block.

[code]

[2018-04-23 15:37] VrajSolanki commented on #206
I am using npm. yes there can be issue with this I can check that if with yarn.
Fair enough will upgrade to 7-2.

[2018-04-23 15:46] diegomura commented on #206
Thanks! This is definitely an issue (hate when this happens).  Please tell me if it works with yarn

[2018-04-23 16:01] VrajSolanki commented on #206
Yup atleast got it built with yarn and currently on version `0.7.7-2`
@diegomura lets do one thing add yarn in the build setup until the npm stuff with pdfkit is figured out, it would be helpful.
Seems interesting to work on the layouts now!!
Also currently I am able to see the rows, columns in the flexbox will work drill more on the layout and page-break and keep you posted.

[2018-04-23 16:19] diegomura commented on #206
It's great you could make it work. And glad to hear it's you find the new layout and page wrapping feature interesting. Probably it has things to improve yet, but test it and report anything you see.
The yarn thing is definitely something I should fix soon. I can't expect to all the users to use yarn. It's a shame npm does not support this

[2018-04-23 17:27] diegomura commented on #210
I don't think so. Those configs are mandatory for the moment

[2018-04-23 17:27] #210 closed

[2018-04-24 14:35] diegomura commented on #220
Hi @windgaucho
To be honest, I don't know. Currently for the browser you need to do that specific setup with webpack. I think the answer you should be looking is how to replicate that config on meteor, which I don't know if it's possible.
Sorry for not being more helpful

[2018-04-24 16:58] windgaucho commented on #220
@diegomura thank you anyway. I will try to resolve the problem and let you know in case some one else had the same problem.

[2018-04-25 00:01] bkoltai opened #223 "Missing font-manager module"
**OS:**
Mac OS 10.13.4

**React-pdf version:**
0.7.7-7

**yarn version**
1.6.0

**Description:**
I'm seeing the following error at compile time:
[code]

[2018-04-25 02:50] bkoltai commented on #223
I'm trying to use this on a client, with `@react-pdf/dom`

[2018-04-25 04:16] diegomura commented on #223
Seems fair. ‘font-manager’ it’s not built for working on the dom. that version is yet experimental (has a beta tag) and shouldn’t be used yet. It got installed by default or you just installed manually? Please use the last stable version, which is 0.7.6

[2018-04-25 04:16] #223 closed

[2018-04-25 11:44] jbovenschen commented on #34
@rbansalrahul6 Do you have any progress on this issue? Currently I'm rewriting the pdfkit library to be more web compatible API's. Would make it a lot easier to get this package working.

Will push my progress asap to the https://github.com/react-pdf/pdfkit fork.

[2018-04-25 12:47] hurvajs77 commented on #84
Hi, is it possible generate PDF without implementation of REPL and PDF preview?

[2018-04-25 12:53] jbovenschen commented on #84
It is currently not possible without the preview, what we can de is exposing a render prop which passes the PDF blob so you can do with it whatever you want.

[2018-04-27 10:47] xiaosheng222 opened #224 "Report an error "Warning: Error during font loading: CMap baseUrl must be specified, see "PDFJS.cMapUrl" (and also "PDFJS.cMapPacked")""
**OS:**
window

**React-pdf version:**
 "react-pdf": "^3.0.2",

**Description:**
 I was prompted to a mistake when loading PDF, seems to be caused by the font, I use Chinese fonts here, how should I set it?

My file can be opened at this site, but if I can not load the web using the component, the text will not be displayed at the time of printing

`Warning: Error during font loading: CMap baseUrl

[2018-04-27 10:53] #224 closed

[2018-05-01 22:38] LivioGama commented on #181
fs can't be use in the browser, I ended up doing :
[code]
Assuming your folder `images` is in public folder of `create-react-app`

[2018-05-02 11:29] LivioGama commented on #210
By luck, I was using Ant Design which kind of force you to use `react-app-rewire`, to plugin to use custom config without ejecting.

I just needed to add the following in `config-overrides.js` :
[code]

[2018-05-02 15:54] dberringer opened #225 "Using react-pdf in a lambda fails to install"
**OS:**
Linux 4.9.85-38.58.amzn1.x86_64
**React-pdf version:**
0.7.6
**Description:**
Does anyone know how to run react-pdf in a lambda?  I'm trying to install it(yarn add @react-pdf/core) but I get the following error:

yarn add v1.6.0
[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...
[4/5] Linking dependencies...
[5/5] Building fresh packages...
[1/1] ⠈ yoga

[2018-05-02 15:57] diegomura commented on #225
What's failing is Yoga. Did you try to find an issue about using Yoga in a lambda?

[2018-05-02 16:31] dberringer commented on #225
I'll create an issue in yoga and see what they say.  Thanks.

[2018-05-08 04:33] ringoyip0901 opened #228 "Creating a PDF form with fillable boxes"
Is it a feature that's included currently? I'd like to create a PDF form that will also allow user to manually type in some new data on the form itself.

[2018-05-08 06:39] binchik commented on #225
I'm having the same issue with circleci:

[code]

[2018-05-08 07:30] jbovenschen commented on #225
@binchik I don't know if it would be helpful but here you can see an example of another project which runs on travis CI, don't know that much about circle but I think it is an good example which extra dependencies should be installed on the CI.

https://github.com/jest-community/jest-snapshots-svg/blob/0206decd6150d28dc9705cc9d98b3d8bfb866f45/.travis.yml

[2018-05-08 07:37] binchik commented on #225
@jbovenschen that's funny I stumbled upon the same travis config and added the same to my circleci. It works now. Thanks.

If anyone has this issue, here are the commands to make yoga-layout compile for circleci:

[code]

[2018-05-08 12:44] diegomura commented on #228
No. This is not doable yet. You can see an open issue about this in #42. Closing this one in favor of the other one

[2018-05-08 12:44] #228 closed

[2018-05-10 22:54] ringoyip0901 commented on #84
Hi! Thank you for creating this project :) This sounds amazing! But I just have some questions regarding generating the PDF file itself from the front-end through REPL.

Could you please have briefly explain how the whole process would work? Let's say if a user enters some text into an input box, and I'd like to create a PDF file of that text that the user could download by clicking on the button.

[2018-05-15 02:31] #58 closed

[2018-05-15 02:32] #60 closed

[2018-05-16 00:34] lalithnarayan opened #232 "Unable to install when using with react-boilerplate"
**OS:**
Mac OS
**React-pdf version:**
^0.7.6

**Description:**
Hi thanks for this wonderful library I was trying to add to a project based on [https://github.com/react-boilerplate/react-boilerplate](React Boilerplate)
I followed the instructions as stated in the documentation but couldn't get it working.
It throws errors (Attaching the screenshot)
![screen shot 2018-05-16 at 6 01 50 am](https://us

[2018-05-16 05:57] diegomura opened #233 "Enable adding fonts by path name when using react-pdf node binding"
**OS:*
Any

**React-pdf version:**
From 1.0

**Description:**
react-pdf core v1.0 will include a custom fontkit build that does not includes all the node dependencies. Because of this, loading a font by path name will no longer work. However, it's possible to add this feature back by injecting a custom loader when using react-pdf node binding

Something similar will be needed for images

[2018-05-16 06:54] lalithnarayan commented on #180
I followed the instructions given in the doc and I get this error. unable to fix it.
@flaurida is there a work around for this?
[code]

[2018-05-16 10:03] rogierslag commented on #180
Its a different error which seems like your node environment is either outdated or not properly configured

[2018-05-17 01:26] lalithnarayan commented on #180
@rogierslag  thanks for the reply.
[code]

I'm on the latest versions of node and npm. can you let me know what kind config errors could cause such an issue

[2018-05-17 07:07] rogierslag commented on #180
Are you happening to build using browserify? That [this link](https://github.com/babel/babelify#why-arent-files-in-node_modules-being-transformed) might be of use

[2018-05-17 10:07] lalithnarayan commented on #180
@rogierslag I'm using webpack. https://github.com/react-boilerplate/react-boilerplate i'm building my app over this boilerplate

[2018-05-17 15:09] klis87 opened #235 "Changing font on client side"
**OS:**
Linux
**React-pdf version:**
0.7.6
**Description:**
Is it possible to somehow change font with dom binding? I have problem with polish characters, so ąćżź etc is not displayed properly. I tried `Font.register` but I guess this is only for Node usage.

[2018-05-18 14:42] MatthieuStadelmann opened #236 "Trying to implement live reloading"
Hello! Thanks for the good work on this lib.

We try to implement the live reload in our project. We got inspiration from the repl site of React PDF, but we are stuck in the last step which is showing the blob file in the browser.
When we opened the blob url (for instance one of them is blob:http://localhost:8080/24c0232a-88f3-4042-b746-2e69072bad73) in the browser, we see the expected PDF display

[2018-05-24 11:03] 405go opened #237 "It can make bookMarks?"
Hello, today i need pdf to have bookMarks, It is support it?

[2018-05-24 13:40] 405go commented on #237
all right, thank you

[2018-05-25 16:52] LivioGama commented on #236
Same problem for me, it doesn't come from the PDF generation but really from the reading side https://github.com/wojtekmaj/react-pdf/

[2018-05-28 01:13] qasimalbaqali commented on #210
@ukasa thank you!

[2018-05-28 19:29] ferdinandsalis commented on #225
I am also having problems deloying react-pdf to aws lambda. So my understanding is that yoga-layout is a native module and needs to be compiled in the environment its going to run. So that is what I am trying to do but I am getting this error.

[code]
So apparently this error is due the option `-std=c++14` is not yet supported by the version of gcc provided by amazon linux.

Did anyone get it to w

[2018-05-28 21:37] diegomura commented on #225
Hi @ferdinandsalis !
I'm pretty sure that's the cause of the issue too.
However, never tried to deploy react-pdf in a lambda, and don't have much experience working with lambda either. You cannot set the dependencies as @binchik said there?

[2018-05-29 12:50] ferdinandsalis commented on #225
Hey @diegomura. Thanks for chiming in. No problem. I am no aws lambda or linux expert. It seems I cant just install the newest version of gcc on Amazon Linux and I need to build it from source. I am doing this now …

Did you solve it @dberringer?

[2018-05-29 18:35] diegomura commented on #206
This is fixed on the `1.0.0` branch, which is the ongoing effort in releasing a more stable version, with tons of new features. However, I didn't have enough time to wrap it and deploy a release candidate yet. You can temporarily try that version, or as you said, flat the document design 😄

[2018-05-29 20:36] dberringer commented on #225
@ferdinandsalis I haven't had a chance to dive deeper into this yet but I will definitely post when I get it working.  The issue is clearly with the version of gcc that is available in the lambda environment.  I'm guessing it's running on the standard AWS Linux version which uses an older version of gcc(4.8.5) which doesn't support C++14.  There is an Amazon linux 2 image you can use which comes w

[2018-05-31 09:16] junbinku opened #238 "a bunch of errors after import"
**OS:** Mac Sierra

**React-pdf version:** 0.7.6

**Description:**
Steps I did:
- yarn add react-pdf/core
- import { Page, Text, View, Document, StyleSheet } from 'react-pdf/core';

**How to replicate issue including code snippet (if applies):**
- Uncaught Error: Module build failed: Error: ENOENT: no such file or directory
- ./node_modules/babel-runtime/node_modules/core-js/library/fn/array/from.

[2018-05-31 10:53] zeeshanjan82 commented on #238
I am also getting lot of errors after I import:
import { Page, Text, View, Document, StyleSheet } from '@react-pdf/core';

![image](https://user-images.githubusercontent.com/8342604/40778459-db2b52dc-64ee-11e8-8382-952fc7be00e9.png)

[2018-05-31 13:07] diegomura commented on #238
Are you using react-pdf in the web or on the server?

[2018-05-31 13:09] zeeshanjan82 commented on #238
@diegomura I am using in the web using react + redux not on the server

[2018-05-31 14:05] diegomura commented on #238
To run on the browser you will need to do a special webpack setup. Please check this https://github.com/react-pdf/site/blob/master/webpack.config.js#L23 as reference

[2018-06-01 01:49] junbinku commented on #238
Im running on a local browser.
After I include the transform-loader stated on the docs it has lessen the errors.. but not completely.

Errors left:
- cant resolve 'fs', 'net', 'tls'

[2018-06-01 01:57] diegomura commented on #238
Did you included?
[code]

[2018-06-01 02:33] junbinku commented on #238
Oh sorry I didn't seen the end of the webpack but thanks!
It seem like there are no errors anymore but these warnings. Any ideas?

WARNING in ./node_modules/har-validator/node_modules/ajv/lib/async.js
119:15-28 Critical dependency: the request of a dependency is an expression
 @ ./node_modules/har-validator/node_modules/ajv/lib/async.js
 @ ./node_modules/har-validator/node_modules/ajv/lib/ajv.js

[2018-06-01 02:39] diegomura commented on #238
No clue about that, but I'm not sure if it's something related to this project. Please try to emulate react-pdf site as much as you can

[2018-06-01 03:34] junbinku commented on #238
i did import 'regenerator-runtime/runtime'; on my react component itself where react-pdf is.

it is still not working.. do I need to include something in webpack?

[2018-06-01 03:39] JSouthWind commented on #238
I have the same issue. If I import 'regenerator-runtime/runtime'; I get this error
`Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self' `
is it possible to fix it? By the way, this library is looking so great! I really want to be able to use it.

[2018-06-01 04:03] JSouthWind commented on #238
@junbinku did you add this https://www.npmjs.com/package/regenerator-runtime? Solved for me :)

[2018-06-04 04:53] kenchiu100 opened #239 "<DOCUMENT /> is using incorrect casing. Use PascalCase for React components, or lowercase for HTML elements. [bug help wanted]"
I can't use the imported tags even though I can run the server. The pdf is not formed correctly from using the react-pdf library.
I got these warnings.
<img width="1440" alt="screen shot 2018-06-03 at 9 43 43 pm" src="https://user-images.githubusercontent.com/16310685/40898796-55368aca-6778-11e8-9ed1-c8408de6541b.png">
Why is it say I am using wrong casing? My code seems ok.
<img width="1440" alt=

[2018-06-04 05:01] junbinku commented on #238
I included a babel-polyfill in my webpack file and its alright now

module.exports={
    entry: ['babel-polyfill','./src/app.js']

[2018-06-04 06:56] diegomura commented on #238
Thanks for reporting the fix!

[2018-06-04 06:56] #238 closed

[2018-06-04 08:11] rogierslag commented on #239
Pass the final React code through the renderer for PDF, not react-dom

[2018-06-04 14:12] ferdinandsalis commented on #225
So, I finally did get it to work by building a newer version of gcc from source. I am sure there is a better way but for now this works for me. I hope to have a more detailed explanation how to get react-pdf working on aws lambda at some later point.

I am so happy I can finally use react-pdf!

[2018-06-04 14:18] diegomura commented on #225
Glad to hear that @ferdinandsalis !
Do you mind sharing how you fix it, for documentation purposes? also to close this issue.
I promise I'll tackle this issue sometime in the future. Maybe ship react-pdf with the pre-bundled yoga asm, or similar, so we forget to build it every-time the lib gets installed

[2018-06-04 14:35] diegomura commented on #235
Hi!
You should be able to use `Font.register` client-side by providing a valid url to it. Did you try that?

[2018-06-04 14:50] klis87 commented on #235
@diegomura I tried it but I guess it wont work because some nodeJS modules are being execuded, like `request` https://github.com/diegomura/react-pdf/blob/master/packages/react-pdf/src/utils/font.js#L1

I tried to cheat a little bit with:
[code]
but this also won't work, if I remember correctly `fs` module failed - it is available only on server side.

I guess a separate `font` file should be avail

[2018-06-04 17:57] kenchiu100 commented on #239
@rogierslag Thanks for answering but I thought ReactPDF.render  is for saving in a file, and ReactDOM.render is for displaying the created pdf on the browser. I want to display the generated pdf on the browser.
@jbovenschen sure. I use create-react-app as a starter.
I import the MyDocument component to App.js. Then I import App to index.js. Then I render at index.js
<img width="648" alt="screen sh

[2018-06-04 17:59] rogierslag commented on #239
In that case you should use the react-pdf-dom binding to render to a stream or buffer, and use a React PDF viewer to show the file (or offer it for download). ReactDOM will render to HTML, and as PDF is not HTML it will not work

[2018-06-04 18:06] kenchiu100 commented on #239
@rogierslag So the readme in this repo is wrong?
https://github.com/diegomura/react-pdf#render-in-dom
It says I could do ReactDOM.render.
Could you elaborate how I can use the react-pdf-dom binding to render to a stream or buffer?
Any examples I can follow along? Thanks!

[2018-06-05 23:28] tim-soft commented on #206
Some more flex weirdness, you can copy/paste the code below directly into the repl to see what I'm talking about.

The page layout works as expected with only _one_ `<TwoColumnLayout />`. With every _additional_ `<TwoColumnLayout />`, two blank pages get added to the document, plus the last word in each `<Text />` gets chopped.

![capture](https://user-images.githubusercontent.com/10257939/4100796

[2018-06-07 05:56] junbinku commented on #239
I'm having same issue on this! Any solution?

[2018-06-07 08:53] ntelkedzhiev opened #240 "Font error after upgrading to 0.7.7-x"
**OS: Mac High Sierra**

**React-pdf version:0.7.7-32**

Description: I started getting the error `Error: Font familiy not registered: Roboto. Please register it calling Font.register() method.`. I'm rendering on the server side and trying to register the font inside `componentWillMount`.

componentWillMount() {
   Font.register(`${__dirname}/roboto.ttf`, {family: 'Roboto'});
}

  componentWillUnm

[2018-06-07 13:33] diegomura commented on #240
Font.register should be outside any React lifecycle method.
Just bare in mind that this version is still a work on progress

[2018-06-07 13:34] #240 closed

[2018-06-07 21:08] dberringer commented on #225
@ferdinandsalis  can you share your solution with the group?

[2018-06-08 08:06] ferdinandsalis commented on #225
Yes sure. I will write something up as soon as I have time. Sorry, I am currently very busy …

[2018-06-11 01:37] Julia0709 opened #241 "Implement letterSpacing style feature"
**OS:**
macOS Sierra v10.12.6

**React-pdf version:**
v0.7.6

**Description:**
When I tried letterSpacing on React-PDF Repl, it did not work as the screenshot below.

![image](https://user-images.githubusercontent.com/13614791/41208751-4716828e-6cdb-11e8-8bad-dddbab1cef77.png)

**How to replicate issue including code snippet (if applies):**
Please try on:
http://react-pdf.diegomura.com/repl

[2018-06-11 04:20] diegomura commented on #241
Hi @Julia0709 .
Thanks for reporting this!
Is not that doesn't work. This style it's not supported in this version.
I'll keep this issue opened until this get's added in future versions

[2018-06-11 06:13] Julia0709 commented on #241
@diegomura Thank you for the response and I got it! Then, I look forward to the future version :)

[2018-06-11 15:22] achaima opened #242 "Dynamically create page numbers"
**OS:**
macbooks high sierra

**React-pdf version:**
react-pdf/core@0.7.6

**Description:**
Hello @diegomura,
I want to be able to use the render attribute on Text so I can dynamically render page numbers which I can see is possible from [here](http://react-pdf.diegomura.com/advanced#page-wrapping). I noticed the logic for this is included in your latest PR but not master, could you release the la

[2018-06-13 19:44] pmogollons commented on #220
Hi @windgaucho,

Were you able to use it? Im using meteor 1.7 and is working fine when rendering in server code. You just need to import the following as per the docs.

[code]

Cheers.

[2018-06-14 01:57] shinriyo opened #243 "@react-pdf/mobile is dead and no @react-pdf/core module?"
I tried to command `yarn add @react-pdf/mobile`
[code]

and run `nom start` server,

[code]

[2018-06-14 12:11] windgaucho commented on #220
Hi @pmogollons
I didn't try with meteor 1.7. I ended up using pdfmake that works with meteor 1.6

[2018-06-14 13:48] diegomura commented on #243
`@react-pdf/mobile` is not developed yet, so there's no package published.
I lack of info of your second error case, but the error is on the `@types/react-pdf__core` package apparently.
Closing this

[2018-06-14 13:48] #243 closed

[2018-06-16 00:55] tgmarinho opened #244 "How can I solve that"
I tried installing the dependency on my project but I got this error message, and I do not know how to solve it.

Someone can help me, please? Thanks!

My SO: Linux Deepin 15.5
 **uname -a**
**_Linux tgmarinho-PC 4.14.0-deepin2-amd64 #1 SMP PREEMPT Deepin 4.14.12-2 (2018-01-06) x86_64 GNU/Linux_**

tgmarinho@tgmarinho-PC:~/Development/shalomapp$ **yarn add @react-pdf/core**
yarn add v1.7.0
info No

[2018-06-16 00:57] tgmarinho commented on #244
error /home/tgmarinho/Development/shalomapp/node_modules/yoga-layout: Command failed.

[2018-06-16 01:11] tgmarinho commented on #244
I create a simple project, just "npm init" and "yarn add @react-pdf/core", so I got the message:

yarn add @react-pdf/core
yarn add v1.7.0
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
warning "@react-pdf/core > react-reconciler@0.7.0" has unmet peer dependency "react@^16.0.0".
warning " > @react-pdf/core@0.7.6" has unmet peer dependency "react@^16.0.0".
[4/4

[2018-06-16 18:31] diegomura commented on #244
Check out this issue: https://github.com/diegomura/react-pdf/issues/225

[2018-06-16 23:34] tgmarinho commented on #244
I checked it, but that's don't figure it out my problem. Thanks for while!

[2018-06-17 17:16] ferdinandsalis commented on #244
Hey @tgmarinho it seems that you version of linux does not have `g++` installed as stated in the error message,
[code]
Does installing `g++` with your linux distro package manager solve the problem?

[2018-06-19 16:06] crubier opened #245 "Add a onFinished event"
It would be nice to have a callback when the pdf doc is generated. I want to display a "loading" component while it is getting generated.

[2018-06-19 22:01] tgmarinho commented on #244
@ferdinandsalis  my notebook doesn't work well, I did reinstall of OS, I'll try that. Thanks!

[2018-06-19 22:18] LivioGama opened #246 "Wrap won't work when text is higher than the page"
Hello,

I found out that if a `<Text>` is wrapped in a `<View>`, then if the text is taller than the page, we run into an infinite loop calculation making the browser stucked and need to force quit.

[Here](http://react-pdf.diegomura.com/repl?code=3187b0760ce02e004026260c0bc300500a06300f00451015c05b014cc2803e2db5c005010c07352601dc027060076b6da700350096a4d9f7e0200aa9001e5400c880ea588c61dc209782000d

[2018-06-20 12:42] tgmarinho commented on #244
@ferdinandsalis @diegomura thanks, my problem is done!

[2018-06-20 20:25] Joshuad2uiuc opened #247 "Questions about usability / rendering"
I have a couple questions about the library.

1. How does the library handle page breaks that cut off information, is there a way to make sure that something like a bullet point list will not be split?
2. How much control do we have over the images and how they render in terms of size and relation to the page?

[2018-06-21 07:03] LivioGama commented on #246
Hello, I'm going in production with my site on Monday and I need to solve this, so I'm putting hands into it. Do you have any idea or recommendation for me where to start, or an insight of what might be wrong?

[2018-06-21 08:13] diegomura commented on #247
Hi @Joshuad2uiuc

1- The current stable version does not support that, but the outgoing v1.0 will. would be just adding a `wrap={false}` prop to each component you don't want to wrap (or "break")
2- Almost the same one as the web. You can use css fixed dimensions, percentage, flexbox, etc.

[2018-06-21 08:13] #247 closed

[2018-06-21 08:19] diegomura commented on #246
Hey!
Quick question first: are you using the lib client or server side?

There were some infinite loops issues reported on pdfkit, which is the library we use to create the PDF documents. I would start debugging the react-pdf `Text` element (https://github.com/diegomura/react-pdf/blob/master/packages/react-pdf/src/elements/Text.js) and seeing if this issue is here or in that dependency.

For devel

[2018-06-21 11:39] LivioGama commented on #246
Do you know how I can make the project use the src folder instead of the lib (transpiled) project ?

[2018-06-21 12:53] LivioGama commented on #246
I use an IDE which allow me to debug with a debugger (I'm not a big fan of console.log ^^) but it need to breakpoint to meaningful lines. Anyway, meantime I actually started with console.log and the build:watch for auto compilation, and I found out some preliminary things :
- In the `Base.js` file in the function `fillRemainingSpace` if the element is a <View> (containing long text), then canBeSpl

[2018-06-22 06:56] mutouzdl commented on #211
try this: https://www.npmjs.com/package/yoga-layout-windows

[2018-06-22 07:32] LivioGama commented on #246
Actually, it's all about [this](https://github.com/diegomura/react-pdf/blob/69ea7c8e602042c403c742e1ea5d51e52a2fcb68/packages/react-pdf/src/utils/wrapping.js#L41). A Text is splitted into 2 boxes in a way than one will go on the current page and the second on the next page. But there is no implementation of how to split a View. I'm trying to write one but it's quite hard since a View can recursive

[2018-06-22 08:07] diegomura commented on #246
Haha yes. That's a problem I actually solved in branch `1.0.0`, but didn't have time to wrap that up. You can just look how it's implemented there and try fixing this version. Just to bare in mind, that branch also has a ton of other features, so you may have to separate those from the wrapping algorithm

[2018-06-22 09:05] LivioGama commented on #246
Oh I didn't see the branch `1.0.0`. But I tested this branch, and there is no infinite loop but it takes a lot of time (11 sec) and it is not working!
![capture d ecran 2018-06-22 a 11 04 11](https://user-images.githubusercontent.com/6930498/41768291-1158e2d8-760c-11e8-868e-fd9b232f8a64.png)

[2018-06-22 09:14] LivioGama commented on #246
But I think I fixed it (unfortunately on the branch master :( ).
I need to run some tests in my project which has a more complex structure before submitting any pull request.
![capture d ecran 2018-06-22 a 11 09 00](https://user-images.githubusercontent.com/6930498/41768580-ea4d0a9c-760c-11e8-9004-6c2ebc0de636.png)

[2018-06-22 09:19] diegomura commented on #246
Awesome!
`1.0.0` branch is still a WIP. No guarantees at all about how that work, but it does work good for some scenarios. It's odd it didn't work on that. Will test it eventually

[2018-06-22 11:06] LivioGama commented on #246
I'm trying to use the project directly from my GitHub where I forket in order to test, but do you know how I could point to the @react-pdf/core of my GitHub ? When I `npm install --save https://github.com/LivioGama/react-pdf.git` it doesn't find the core project (not surprising!)

[2018-06-25 07:18] LivioGama commented on #246
What I did work with Text, but if I nest an Image and a Text in the View, I have problems that I can't solve. With a bit of adaptation, the image and the Text will display in a flow, the text being splitted correctly, but the second portion of Text won't have a proper height due to Yoga async calculation nature.

I think this lib is not for me because the best way to produce a wrapped Page is with

[2018-06-25 07:48] diegomura commented on #246
@LivioGama sorry to hear that. My goal is to make this lib not for simple and flat layouts, but the stable version just does not support it. All my work is going to be focused on the `v1.0.0` branch, but I simply didn't have enough time to finish it. But believe me, that branch already support complex layouts (I implemented myself for a couple of companies) Hopefully one day this lib may suit your

[2018-06-25 07:48] #246 closed

[2018-06-25 08:38] antonin-arquey opened #248 "Support CSS Word break"
**OS:** Linux 4.13.0-45-generic

**React-pdf version:** 0.7.6

**Description:**
The css [word-break](https://www.w3schools.com/cssref/css3_pr_word-break.asp) property does not work.

**How to replicate issue including code snippet (if applies):**

http://i.imgur.com/9LBq4um.png

REPL : [REPL example](http://react-pdf.diegomura.com/repl?code=3187b0760ce02e004d09e01b02984605e18194a4e5600b6592803a600

[2018-06-25 09:21] diegomura commented on #248
It's not supported actually 😄
Thanks for reporting it. Keeping this open for future implementation

[2018-06-25 10:13] antonin-arquey opened #249 "Text component nesting bug"
**OS:** Linux 4.13.0-45-generic

**React-pdf version:** 0.7.6

**Description:**
When you nest some Text components (one is enough), the text after the nested Text is wrapping in a weird way over the text before the nested Text (see REPL).
The documentation say so it should work.

**How to replicate issue including code snippet (if applies):**

[REPL](http://react-pdf.diegomura.com/repl?code=3187b0

[2018-06-25 16:47] Joshuad2uiuc commented on #247
Thanks for the quick and good response!

[2018-06-25 17:04] diegomura commented on #247
Hard to tell. I want it to be ready asap, but couldn't find time yet

[2018-06-25 17:09] Joshuad2uiuc commented on #247
Is there a manual work around right now if I was to do it, and then just update it when v1.0 is out?

[2018-06-26 12:15] nilaybrahmbhatt opened #250 "how to install using NPM?"
how to install with npm ?

i tried npm install --save @react-pdf/core.
but not worked.

[2018-06-26 12:41] diegomura commented on #250
It's on the README:

[code]

[2018-06-26 12:43] diegomura commented on #250
Sorry.
I just tried `npm install @react-pdf/core --save` and worked correctly. Please give more information about error messages or behavior after installation

[2018-06-26 13:04] nilaybrahmbhatt commented on #250
![capture](https://user-images.githubusercontent.com/6310631/41914042-89637408-796f-11e8-954f-342306b5064f.PNG)

[2018-06-26 13:29] diegomura commented on #250
Your problem is with yoga compiling, not npm. Please refer to #244

[2018-06-26 13:29] #250 closed

[2018-07-01 11:18] atolkachiov commented on #239
DOM rendered did not work well for me, and what I needed it to create downloadable PDF file.

After looking through source code I did the workaround, it uses core PDFRenderer to render to blob stream and then embeds as iframe. Also, the blob is downloadable.

https://gist.github.com/atolkachiov/dd2e257f669b1a5ca06e4f4514326d3b

[2018-07-01 19:39] mitkpl opened #251 "Installing dependencies end up with 'yoga-layout' error"
**OS:** Windows

**React-pdf version:** 0.7.6

**Description:** Installing first dependencies occuring with error

**How to replicate issue including code snippet (if applies):**
1. Create react app with Create-react-app
2. Go to the folder
3. Open some CMD and `yarn add @react-pdf/core`
4. ERROR
`...\node_modules\yoga-layout: Command failed.`. And info about details in error log:
[code]

[2018-07-01 21:12] diegomura commented on #239
This error is because when used in the DOM, you should import `Document` from `@react-pdf/dom`:

[code]

I'll update the README.
You can also use the snippet @atolkachiov uploaded if you need some more complex features. It's the same thing we are doing currently on the REPL

[2018-07-01 21:12] #239 closed

[2018-07-02 07:57] another-guy commented on #251
I confirm that `yarn add @react-pdf/core` fails for me as well with a similar error:

[code]

I also tried `npm install @react-pdf/core` and got similar error

[code]

[2018-07-02 08:02] another-guy commented on #251
This is truly an issue with `facebook/yoga`. They may or may not work on the fix.

The [related PR is still open](https://github.com/facebook/yoga/pull/755) since April 22, 2018... I wish `@react-pdf` did not depend on that library, but I have no idea of `@react-pdf`'s code structure, so not proposing anything.

[2018-07-02 08:16] another-guy commented on #251
@mitkpl you can try using the workaround described here: https://github.com/diegomura/react-pdf/issues/211#issuecomment-399341196

There are more related open issues already, BTW:
https://github.com/diegomura/react-pdf/issues/185
https://github.com/diegomura/react-pdf/issues/151

[2018-07-02 19:13] mitkpl commented on #251
Yeah:
[code]
... resolved the issue about installing dependencies. I will work on this to see if its ok to relate on this dep instead of original.

[2018-07-02 19:19] mitkpl opened #252 "Installing mobile package end up with "not found" error"
**OS:** Windows

**React-pdf version:** 0.7.6

**Description:** I am trying to install `yarn add @react-pdf/mobile` but it ends up with "not found" error

**How to replicate issue including code snippet (if applies):**
1. Run `yarn add @react-pdf/mobile` in some CMD
2. Error appears:
`error An unexpected error occurred: "https://registry.yarnpkg.com/@react-pdf%2fmobile: Not found".`

PS. I've chan

[2018-07-02 20:18] diegomura commented on #252
There's no ` @react-pdf/mobile`
Please check this: https://github.com/diegomura/react-pdf/issues/243

[2018-07-02 20:18] #252 closed

[2018-07-02 21:04] mitkpl commented on #252
Ok, sorry

[2018-07-03 11:39] PerfectPixel opened #253 "<View fixed> is not rendered properly"
**OS:**
macOS High Sierra 10.13.5

**React-pdf version:**
0.7.6
1.0.0

**Description:**
_0.7.6_
`<View fixed>...</View>` does not have any effect. The element is only visual on the first page.
_1.0.0_
`<View fixed>...</View>` is displayed on every page, however, on every page the fixed content is indented further.

1st page
![screen shot 2018-07-03 at 13 37 50](https://user-images.githubuserconten

[2018-07-05 16:40] ribx opened #254 "obtain aspect ratio of portai image"
**OS:**
Dev: Gentoo Linux
Prod: Ubuntu

**React-pdf version:**
@react-pdf/core@0.7.6

**Description:**
I have different sized images and I want to fit them in a predefined square by respecting their aspect ratio. I could not achieve it through any combination of _width/height, min*, max*_ or _auto*_.

If I give a width and a height, the height is ignored. Right now, I have a container View with th

[2018-07-05 16:41] ribx commented on #254
Please also note: CSS respects the aspect ratio if you give a width and a height to an image.

[2018-07-10 05:04] dberringer commented on #225
Hey @ferdinandsalis ,  any chance you can share your fix.  Don't need a huge explanation.  Just the commands you used.  Thanks.

[2018-07-10 21:10] kennyhuynh125 opened #255 "can't install using npm install"
**OS:** Mac

**React-pdf version:** N/A

**Description:** Can't install using NPM. Get an error relating to installing yoga-layout

**How to replicate issue including code snippet (if applies):** `npm i -S @react-pdf/core`

[2018-07-12 18:41] ferdinandsalis commented on #225
Hey @dberringer sorry for the delay. I cant tell you the exact commands. However I can tell you what I did more or less — It has been a while.

* Get docker running with the following image, https://github.com/lambci/docker-lambda, the build variant or I guess you can use the newer amazon linux 2 image.
* Build the version of gcc from source that is required to build yoga layout (not sure but I th

[2018-07-15 05:50] johanventer commented on #249
I have created a PR which resolves the issue for me here: https://github.com/diegomura/react-pdf/pull/256

[2018-07-15 18:02] rfc2616 commented on #241
I have need for some additional Text stylings like letterSpacing and (most urgently) lineHeight in a project. I know pdfkit has the necessary primitives, like lineGap, but they might take a little transformation from CSS idiom first. @diegomura if you have any suggestion of how you want it implemented, I could possibly get it working and send a PR later this month.

[2018-07-16 01:50] mmmeff commented on #116
@theobat I know this is a late response in a closed issue, but I had a very similar issue and found the cause. If you're using livereload on the same server, it may be corrupting the PDF response.

I fixed it by ensuring my PDF generating code was at a route ending with ".pdf" and then adding that ignore definition to my livereload configuration.

[2018-07-17 11:48] dariuszpaluch commented on #249
I have similar problem with nested Text

[PERL](http://react-pdf.diegomura.com/repl?code=140630f60760ce02e004013308e05e38029801e008b2057016c05308600f98386b9b001404301cc4eb69aa012c02f1350044010400b00f61d6004f0036fc037bc891ce0007460811708cc0171c004c001800d328e00cce400f5c5c013891030ba47d01c9c0ce211dd995b400468c2000d6ccf66004100800c2603260f61e00c400621999eee67000beb93900eef68caa39495c64308c2e9082328c3

[2018-07-19 14:18] diegomura commented on #58
@MarceBrum hey man! How are you?
Just wanted to tell you that we are VERY close of officially release the new `v1.0.0` (finally!)
The page is also quite finished:

- DOCS: http://react-pdf.diegomura.com
- REPL: http://react-pdf.diegomura.com/repl

I don't know how are you with times now, but I wanted to ask for a last favor/contribution 😬
If you see, we don't have a color palette for code, both on

[2018-07-20 11:52] ctur opened #258 "HELP: saving a file"
Hello, i know it is not the best place to put question but i am struggling on saving a file operation. Is it possible to save PDF Component from react? or should i save from node-backend, if so how to send pdf component to backend?

Best regards..

[2018-07-20 16:57] EdoAPP commented on #232
Same for me! @lalithnarayan Could you solve the problem?

[2018-07-20 18:01] diegomura commented on #232
Please try installing the last `v1.0.0-alpha.6`.
It's a bit experimental, but test worked pretty well

[2018-07-21 04:03] EdoAPP commented on #84
Hi @diegomura, the library and the idea is amazing, thanks for sharing it with us.
I was checking the REPL and I could see some dependencies and versions (for example @react-pdf/react-df) that haven't been relesed yet. Do you think the 'on the fly' feature would work with the current version?
`"@react-pdf/core": "^0.7.6",
    "@react-pdf/dom": "^0.7.6",`

[2018-07-22 15:50] bkoltai opened #259 "Testing pre-release 1.0.0"
Sorry if this is a question based on my lack of knowledge of NPM, but how can I start using the 1.0.0 alpha releases? What would the `yarn add` command be?

Excited for the 1.0 release!

[2018-07-22 16:07] diegomura commented on #259
Hey! Yes you can.
It’s `yarn add @react-pdf/react-pdf@1.0.0-alpha.7`
Report any feedback!

[2018-07-22 16:07] #259 closed

[2018-07-22 16:20] bkoltai commented on #259
Thanks! Is DOM still supported? Are there updated docs somewhere or an issue to track updates that I could contribute to as I go?

[2018-07-22 16:34] bkoltai commented on #259
Nvm, got it all figured out. Just needed to import everything from `@react-pdf/react-pdf` and remove the `transform-loader` from my webpack config. Thanks!

[2018-07-22 16:41] diegomura commented on #259
Yes. DOM is supported.
Glad you figure it out. That’s exactly what you had to do!
Worked so far?

[2018-07-22 16:57] bkoltai commented on #259
Yes, now so many things are working now that weren’t which lead to a couple
other issues. I’ll report back with my findings
On Sun, Jul 22, 2018 at 12:41 PM Diego Muracciole <notifications@github.com>
wrote:

[2018-07-22 22:34] diegomura commented on #255
Closing this because of duplicate yoga compile issue

[2018-07-22 22:34] #255 closed

[2018-07-22 22:35] diegomura commented on #259
Awesome. I look forward to hear what bad things you found to fix them. Otherwise I'll just release this `1.0.0` version and then create fixes along the way

[2018-07-23 07:47] diegomura commented on #232
I tested `v1.0.0-alpha.7` using the last version of `react-boilerplate` and worked without any special setup